/** Add a comment at the beginning of your CSS styles with your name**/

/*** Aaron A's Advice ***/

.aaronandres-advice {
  background-color: #BE2900;
}

.aaronandres-advice h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #3E0D00;
  letter-spacing: 0px;
}

.aaronandres-advice h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 18x;
  color: #3E0D00;
  letter-spacing: 1px;
  text-align: center;
}

.aaronandres-advice .advice p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #3E0D00;
  letter-spacing: 0px;
}

.aaronandres-advice footer p {
  font-family: 'Oswald', sans-serif;
  font-size: 18x;
  color: #3E1C13;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 60px;
}