/** Kitti's Styles **/

body {
  background-color: azure;
  color: teal;
  font-size: 16px;
  font-family: 'Mukta Malar', sans-serif;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}


h4 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

.advice {
  width: 100%;
  clear: both;


}

.each-advice {
  width: 25%;
  float: left;
  border: 2px solid teal;
  border-radius: 20px;
  padding: 2%;
  margin: 0 2%;
  background-color: oldlace;
}


footer {
  clear: both;
  text-align: center;


}
