h1 {
	color: indianred;
	font-family: Arial;
	font-size: 30px;
	}

h4 {
	color: goldenrod;
    	font-family: Arial;
			font-size: 25px;
	margin-left: 100px;
	}

p {
	color: white;
    	font-family:Georgia;
			font-size: 13px;
	}

body {
	background-color: darkslategrey;
	}

#footer {
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	color: gainsboro;
	font-family: Arial;
	font-size: 14px;
	}
