/** Add a comment at the beginning of your CSS styles with your name **/



/**Alessandra advice styling**/
.alessandra-advice {
    color: #cd6ae8;
	font-size: 36px;
    font-family: "Avant Garde", sans-serif;
    border: dotted 1px #8cb63d;
	text-align: justify;
}

.advice {
	color: #4e64d1;
    font-size: 28px;
    	
}
/**End Alessandra advice styling**/





