/** Add a comment at the beginning of your CSS styles with your name**/

/*** Aaron A's Advice ***/

.alex-m-advice {
  background-color: rgb(50, 186, 206);
}

.alex-m-advice header {
  background-image: url("https://i.pinimg.com/originals/a2/8f/d0/a28fd0c302d8fb8b15b27450cad63971.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.alex-m-advice h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight:700;
  text-transform: uppercase;
  text-align: center;
  color: rgb(234, 237, 247);
  margin: 0 auto;
  padding: 50px 300px 50px 200px;
}

.alex-m-advice a {
  color: rgb(181, 186, 206);
  padding: 50px 50px 7px 7px;
}

.alex-m-advice h4 {
  font-family: 'PT Sans', sans-serif;
  color: rgb(23, 0, 56)
}

.alex-m-advice p {
  font-family: 'PT Sans', sans-serif;
  color: rgb(23, 0, 56)
}
