/** Add a comment at the beginning of your CSS styles with your name**/

/***** Alisha Arnold's Advice *****/
.alishaarnold-advice{
  background-color: #FCFCFC;
  font-family: 'Raleway', sans-serif;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.alishaarnold-advice h1{
  color: #02111B;
  font-family: 'Oswald';
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
  padding: 20px 30px;
}

.alishaarnold-advice h4{
  color: #30292F;
  font-family: 'Oswald';
  font-size: 30px;
}

.alishaarnold-advice p{
  color: #5D737E;
  font-size: 20px;
  max-width: 600px;
  margin: auto;
}

.alishaarnold-advice header {
  font-family: 'Raleway';
  padding: 10px;
  text-align: right;
  text-decoration: none;
}

.alishaarnold-advice a {
  color: #5D737E;
  font-size: 15px;
  text-decoration: none;
}

.alishaarnold-advice footer{
  font-size: 15px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.alishaarnold-advice footer p{
  font-size: 15px;
}



