/** Alysia Miller's Styles **/

.alysiamiller-advice {
  background-color: #E1DCD9;
  padding: 40px;
}

.alysiamiller-advice h1 {
  color: #8F8681;
  font-size: 20px;
  padding-top: 40px;
}

.alysiamiller-advice h4 {
  color: #A67F78;
  font-size: 50px;
  text-transform: uppercase;
}

.alysiamiller-advice p {
  color: #32435F;
  font-size: 20px;
}