/** Add a comment at the beginning of your CSS styles with your name**/

/** AnniinaT styles **/
.anniinat-advice {
	background-color: #009999;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	text-align: center;
}
.anniinat-advice h4{
	color: #ffffff;

}