.anthonylucio-advice{
  
  color: dime-grey ;
  font-family:'Crushed', cursive;
  font-size: 20px;
  font-weight: bold;
  background-image: url(http://s1022.photobucket.com/user/iveliq100/media/iveliq100003/26777/grg/11044580_861423557252741_7929461109415917968_n_zpstqrpde5r.jpg.html][IMG]http://i1022.photobucket.com/albums/af341/iveliq100/iveliq100003/26777/grg/11044580_861423557252741_7929461109415917968_n_zpstqrpde5r.jpg;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
 }	
 /** end of Anthony's style **/