/*Araceli style*/
 +
.araceliluettinger-advice {
background-color: #FFFFFF;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 18px;
margin: 0px;
padding-bottom: 20px;
 }
.araceliluettinger-advice header {
background-color: #FFFFFF;
text-align: center;
border-bottom: 7px dotted #000000;
}
.araceliluettinger-advice-button {
text-decoration: none;
background-color: #FFFFFF;
color: #034f84;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
border: 2px dotted #000000;
border-radius: 10px;
padding: 8px;
}
#araceliluettinger-advice-heading {
font-family: 'Sofia';
font-size: 36px;
color: #000000;
margin-top: 10px;
}
.araceliluettinger-advice h2 {
font-family: 'Sofia';
text-align: center;
color: #000000;
}
.araceliluettinger-advice-first-paragraph {
background-color: #E8E8E8;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
padding: 10px 50px 10px 50px;
width: 60%;
border: 5px solid #034f84;
border-radius: 20px;
}
.araceliluettinger-advice-second-paragraph {
background-color: #E8E8E8;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
padding: 10px 50px 10px 50px;
width: 60%;
border: 5px solid #034f84;
border-radius: 20px;
}
.araceliluettinger-advice-third-paragraph {
background-color: #E8E8E8;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
padding: 10px 50px 10px 50px;
width: 60%;
border: 5px solid #034f84;
border-radius: 20px;
}
.araceliluettinger-advice footer {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
text-align: center;
background-color: #FFFFFF;
border-top: 7px dotted #000000;
}
/*Araceli style*/