/* BODY */
body, html{
  height: 100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;

}
a{
  display: block;
  color: #000;
  text-decoration: none;
  padding:10px;

}

a:hover{
  background-color:#00d9e2;


}

/* background images */

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}


.section{
  text-align: center;
  padding: 50px 80px;
  background: #f4f4f4;

}
/* SECTION Colour Option */
/*
.section-light{
top: 50%;
width: 100%;
text-align: center;
color: #000;
font-size: 27px;
text-transform:capitalize;

}

.section-dark{
top: 50%;
  width: 100%;
  text-align: center;
  color: #f4f4f4;
  font-size: 27px;
  background-color: #005360;
}
*/

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  line-height:200%;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.trans{
  opacity: 0.7;
}
/* pimg - */

.pimg1{
  background-image: url('../aryvidot_advice/img/image1.jpeg');
  min-height: 100%;
}

.pimg2{
  background-image: url('../aryvidot_advice/img/image2.jpeg');
  min-height: 400px;
}

.pimg3{
  background-image: url('../aryvidot_advice/img/image3.jpeg');
  min-height: 400px;
}


/* FOOTER */

footer p{
  text-align: center;
  padding: 10px;

}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3,{
    background-attachment:scroll;
  }
}
