
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  text-align: center;
  color: white;
}

h4 {
  font-family: 'Jua', sans-serif;
  font-size: 40px;
  text-align: center;
  color: grey;
}

.advice {
  font-family: 'Pangolin', cursive;
  font-size: 30px;
  width: 800px;
  text-align: center;
  padding-left: 300px;
}

p {
  font-family: 'Jua', sans-serif;
  font-size: 15px;
}

header {
  background-color: coral;
  height: 200px;
}
