h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

h3 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

p,
li {
  font-family: 'Merriweather Sans', sans-serif;
}


h4,
h5 {
  font-family: 'Bilbo Swash Caps', cursive;
}

ul {
  text-align: center;
  list-style: none;
}

ol {
  margin-left: 10%;
}

#quote {
  text-align: center;
  font-size: 34px;
}


#action {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

#copy {
  text-align: center;
}