/** Add a comment at the beginning of your CSS styles with your name**/
/*** bernetta's styles ***/

.bernettamoore-advice {
  font-family:'Abril Fatface', cursive;
  text-align: center;
}

.bernettamoore-advice p {
  font-family: 'Josefin Sans', sans-serif;
}
