/***** Grid *****/

.binguyen-advice{
	margin:auto;
}

/***** header *****/
header{
	height: auto;
	background:#ffaa80;
	margin:0 auto;
}

header h1{
	text-transform: uppercase;
	font-weight: bolder;
	font-family:'open sans';
	text-align: center;

}

/***** advice one ******/
.top-section{
	background: #ffbb99;
	margin:auto;
	height: auto;
}

.advice-one {
	margin:0px auto;
	text-align: center;
	border:3px solid #99ff99;
	padding:10px 20px;
	background:#ffeee6;
	width:600px;

}

.advice-one h4{
	font-size:28px;
	font-family:'sunflower';
	font-weight:700;
	text-align: center;
}

.advice-one p{
	font-size:18px;
	font-family: 'open sans';
	font-weight: normal;
	text-align: center;
}

/***** advice two *****/

.bottom-section{
	background: #ffccb3;
	margin:auto;
	height:auto;
}


.advice-two {
	margin:0px auto;
	text-align: center;
	border:3px solid #99ff99;
	padding:10px 20px;
	background: #ffeee6;
	width:600px;
}

.advice-two h4{
	font-size:28px;
	font-family:'sunflower';
	font-weight:700;
}

.advice-two p{
	font-family: 'open sans';
	font-size: 18px;
}

/***** footer *****/

footer{
	background:#ffddcc;
	margin:auto;
	clear:both;
}

footer p{
	font-size: 10px;
	text-align: center;
	font-style: italic;
	font-family:'sunflower';
	font-weight: 300;
}

footer span{
	font-family: 'lobster';
	font-size:14px;
}