body{
	font-family: 'Raleway', sans-serif;
	
}
.branford-advice{
	margin:0px;
	background:#d9ddda;
}

header{
	background:#1b7726;
	font-family: sans-serif;
	margin:0;
	padding-top:50px;
	text-align:center;
	
}

.button a {
	border: solid #f4f9f5 3px;
	border-radius:10px;
	color:#f4f9f5;
	font-size:24px;
	margin:auto;
	padding:10px;
	text-decoration:none;
	width:250px;	

}

.button a:hover{
	background: #f4f9f5;
	color:#1b7726;
}

.message{
	color:#f4f9f5;
	font-weight:300;
}

.message h1{
	font-weight:400;
}

#name{
	font-weight:300;
}

.main{
	width:1000px;
	margin:auto;
	margin-top:50px;
	
}

.main h3{
	color:#1b7726;
	text-transform:uppercase;
	text-align:center;
}

img{
  opacity:0.9;
  border-radius:8px;
  }
  
.gif{
	margin-left:auto;
	margin-right:auto;
	width:50%
	}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
