.brianna-advice .advice h4{
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
}

.container{
  background-color: white;
  padding: 5px 5px 10px 5px;
}

body{
  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */
  font-family: sans-serif;
}

header{
  font-size: 18px;
  font-weight:100;
}
header a{
  text-decoration: underline;
  color:black;
}

.links{
  list-style-type: none;
  padding:1px;
}

footer{
  text-align: center;
}
