.brigitta-advice {
    background-color: #d1e0e0;
    padding-right: 25%;
    padding-left: 25%;
    color: #344c4c;
}

.brigitta-advice a {
    text-decoration: none;
    color: #e62e00 ;
}

.brigitta-advice a:hover {
    color: #344c4c;
}

.brigitta-advice h1 {
  padding-bottom: 5%;
    padding-top: 10%;
}

.brigitta-advice p {
    padding-top: 4%;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

footer{
    padding-top: 5%;
    text-align: center;
}


