/**** BODY ****/

body{
	background-color: grey;
	font-family: 'Slabo 27px';
}


.carlossengo-advice h2{
	font-weight: 500;
	font-style: italic;
	color: #1d0202;
}

.carlossengo-advice p{
	font-style: italic;
	color: #121277;
}

/**** SECTION ****/

.skillcrush{
	color: blue;
}
