/** Add a comment at the beginning of your CSS styles with your name**/


/*****Carrie's advice*****/

.carrietaylor-advice a {
  font-family: mountains of christmas, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: lightslategray;
  float: left;
  margin-top: 20px;
  margin-left: 75px;
  font-weight: bold;
}
.carrietaylor-advice h1 {
  font-family: love ya like a sister, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color:indianred;
  float: left;
  clear: both;
  margin-left: 225px;
  margin-right: 85px;
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.carrietaylor-advice h4 {
  clear: both;
  font-family: love ya like a sister, sans-serif;
  font-size: 25px;
  color: salmon;
  float: left;
  margin-left: 75px;
  margin-right: 75px;
  font-weight: bold;
  margin-bottom: 10px;
}
.carrietaylor-advice p {
  clear: both;
  font-family: ariel, sans-serif;
  font-size: 20px;
  color: slategray;
  float: left;
  margin-left: 70px;
  margin-right: 70px;
  text-align: justify;
  margin-top: 0px;
}
.carrietaylor-advice footer p {
  margin-top: 55px;
  font-size: 14px;
}

