.cascia-advice {
  background-color:#A333FF;

}

.cascia-advice h1 {
  font-family: Arial;
  font-size: 25px;
  margin: 10px;
  padding-bottom: 10px;
  text-align: center;

}

.cascia-advice h4 {
  font-family: Arial;
  font-size: 20px;
  text-align: left;
  font-variant: small-caps;

}

.cascia-advice p {
  font-family: Arial;
  font-size: 15px;
  text-align: justify;

}

.cascia-advice footer {
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 12px;

}
