body {
	margin: 5% 20%;
	background-color: #E9DCCD;
	font-family: 'Encode Sans', sans-serif;
}

.cat-advice header a {
	text-decoration: none;
}

.cat-advice h1 {
	letter-spacing: 0px;
	line-height: 1em;
	color: #613A43;
	font-family: 'Merriweather', serif;
}

.cat-advice h4 {
	font-size: 1.5em;
	color: #36384C;
	line-height: 0.5em;
	font-weight: 600;
}

.cat-advice p {
	color: #849974;
	line-height: 1.5em;
}