/** Add a comment at the beginning of your CSS styles with your name**/
/***** Clancy's advice *****/
@import url('https://fonts.googleapis.com/css?family=Raleway');

.cclancy-advice {
 background-color:#000000;

}

.cclancy-advice h1 {
 font-family: 'Raleway', 'Arial', sans-serif;
 font-size: 50px;
 line-height: 40px;
 margin: 50px;
 padding-bottom: 50px;
 text-align: center;
 color:#33ff33; 
}

.cclancy-advice h4 {
 font-family: 'Raleway', 'Arial', sans-serif;
 font-size: 25px;
 text-align: left;
 color:#33ff33; 

}

.cclancy-advice p {
 font-family: 'Raleway', 'Arial', sans-serif;
 font-size: 20px;
 line-height: 12px;
 text-align: left;
 color:#33ff33; 

}

.cclancy-advice-italic {
 font-style: italic;
 color:#33ff33; 

}

.cclancy-advice-footer p {
 font-family: 'Raleway', 'Arial', sans-serif;
 font-size: 20px;
 font-style: italic;
 padding-top: 75px;
 text-align: center;
 color:#33ff33; 

}
