.advice h4{
    
    text-decoration: underline;
    font-size: 2em;
    
}

.chadRicard-advice{
    
    background-color: #ccffe6;
}

.jumbotron.chadjumbotron {
    
    background-color: #ccffe6 !important;
}