/**Chris's Styles**/
.chrisw-advice {
	background-color: #fffff3;
}
.advice {
	
	color: black;
	font-size: 12px;
	text-decoration: none;
	font-family: Verdana, sans-serif;
}

img {
	height: 100px;
	width: 50px;

}

.advice p {
	font-size: 12px;
	
	}

.chrisw-advice h1 {
	color: black;
	font-size: 20px;
	border: solid white 5px;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	margin: auto;

	}

h4 {
	font-size: 22px;
	color: teal;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 20px 30px 70px;
	text-decoration: underline;
	}



/**End Chris's Styles**/