.clarelewis-advice {
background-color: #FFCCFF;
color: #666;
font-family: 'Arial';
}
.clarelewis-advice h1 {
font-size: 28px;
}
.clarelewis-advice h4 {
font-size: 20px;
}
.clarelewis-advice p {
font-size: 16px;
}
