/*CodeByNat Styles*/
.codebynat-advice {
  text-align:center;
  font-family: 'oswald', serif;
  padding: 80px 0;
  background: #b9b9b9;
}
.codebynat-advice h1 {
  font-family: 'open sans', serif;
  font-size: 30px;
  color:#180d09;
}

.codebynat-advice h4 {
font-size: 24px;
text-transform: uppercase;
  font-family: 'oswald', serif;
color:#5f5754;
padding: 30px 0;
text-align:left;
/*b78a2d*/
}

.codebynat-advice p{
text-align: justify;
font-family: 'open sans', serif;
font-size: 18px;
color:black;
}

.codebynat-advice footer {
padding: 40px 0;
}
