/**daphniedonnell Styles 2017**/
.daphniedonnell-advice h1 {
  background-color:#purple;
  border-style: solid;
  color: #07137f;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.daphniedonnell-advice h4 {

  border-style: solid;
  color: #091ab0;
  font-size: 25px;
  text-align: center;
}
.daphniedonnell-advice p {
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}
/**End daphniedonnell Styles 2017**/
