/** GENERAL **/

.deborahmbs-advice	{
	font-family: "Sunflower";
}


/** HEADER **/
.deborahmbs-personal-advice	{
	color: #EF554F;
	text-transform: uppercase;
}

h1	{
	margin:40px;
}

/** SECTION **/
.deborahmbs-advice section	{

	border: 5px #EF554F solid;
	width: 900px;
	margin: 20px;
	padding: 20px;
}

h4	{
	font-weight: bold;
	text-transform: capitalize;
}

.deborahmbs-emphasize	{
	font-style: italic;
	color: #EF554F;
}

.deborahmbs-advice-101	{
	border-bottom: 1px #EF554F solid;
}

