/***** Elizabeth advice *****/
.elizabeth-advice h1 {
  font-family: Megrim;
  font-size: 34px;
  color: DarkSlateGray;
  text-align: center;
}

.elizabeth-advice h4 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  font-variant: small-caps;
}

.elizabeth-advice p {
  padding: 20px, 0;
  font-size: 20px;
}
