/** Add a comment at the beginning of your CSS styles with your name**/

/***** Elizabeth Berman's advice styles *****/

.elizabethberman-advice {
  background-color: #ebebeb;
  font-family: 'Lora', serif;
  margin: 0 auto;
}

.elizabethberman-advice header {
  background-color: #f9ceb7;
  margin: 0 auto;
  padding: 50px 200px 50px 100px;
}

.elizabethberman-advice h1 {
  color: #2b2b2b;
  font-family: 'Lora', serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
}

.elizabethberman-advice section {
  margin: 0 auto;
}

.elizabethberman-advice .advice {
  float: left;
  max-width: 400px;
  padding: 20px 100px;
}

.elizabethberman-advice h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.elizabethberman-advice .advice p {
  font-size: 16px;
  font-weight: 400;
}

.elizabethberman-advice footer {
  clear: both;
  font-weight: 700;
  text-align: center;
}
