.emelin-advice{
	background-color: #aa4156;
	padding: 20px;
}
h1, h4{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	color: white;
}
.name{
	color: yellow;
}

a{
	color: white;
	text-decoration: none;
}
h4{
	font-size: 25px;
}
.one, .two, .three{
	float: left;
	width: 300px;
	line-height: 20px;
	font-size: 15px;

}
.one{
	padding-left: 50px;
}
.two{
	padding-left: 80px;
}
.three{
	padding-left: 80px;
}
footer{
	clear:both;
	text-align: center;
	color: white;
}

/*** End C's advice styling ***/
