/** Add a comment at the beginning of your CSS styles with your name **/



/** emily's style, i borrowed from kristin lynde and changed it a bit--thanks kristin*) **/

body.emilyrosalene-advice h1{
    font-family:Helvetica;
    font-size: 22px;
    text-align:center;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
    border-radius: 5px;
}

body.emilyrosalene-advice header{
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
}

div.emilyrosalene-advice {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color:lightskyblue;
    border-radius: 5px;
}

div.emilyrosalene-advice p{
    font-family: Helvetica;
    font-size: 14px;
    
}

div.emilyrosalene-advice h4{
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
}

body.emilyrosalene-advice footer {
    text-align: center;
    font-family:Helvetica
    font-size: 10px;
}


/**emilys styling **/

