/** emily-v styles **/

body {
  text-align: center;
  padding: 50px;
}

h1 {
  background-color: #9933ff;
  color: white;
  font-family: 'Chonburi', cursive;
  font-size: 36px;
  line-height: 1.5;
}

.advice {
  background-color: #d9b3ff;
  color: black;
}

.advice h4 {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Chonburi', cursive;
}

.advice h4 span {
  font-size: 32px;
}

.advice p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.advice p span {
  font-size: 24px;
  font-weight: bolder;
}

footer {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
  /** End of emily-v styles **/