/*****          Erica's  Advice   (BEGIN)   *****/

.erica-advice h1{
   font-family:  'Pacifico', cursive;
   font-size:  60px;
   color:  white;
   background-color: #ffcccc;
   margin:  25px;
   text-align: center;
   text-transform: capitalize;
}
.erica-advice h4{
   background-color: #66cccc;
   font-family:  'Raleway', sans-serif;;
   font-size:  36px;
   font-weight:  bold;
   color: white;
   margin:  25px;
}
.erica-advice p{
   font-family:  'Raleway', sans-serif;
   font-size:  24px;
   font-weight: regular;
   color: #333333;
   margin: 25px;
   text-align: justify;
   }

.erica-advice footer p{
   font-family:  'Raleway', sans-serif;
   font-size:  12px;
   font-weight: regular;
   color:  black;
   margin-top:  50px;
   text-align:  center
   }

   /*****          Erica's  Advice  (END)    *****/
