body {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

header {
    color: #B22A00;
    text-align: center; 
}

h1 {
    padding: 20px 0 8px 0;
}

h4 {
    font-size: 24px;
    color: #ffffff;
}

.omg h4,
.dont h4,
.take h4, 
.huge h4 {
    text-align: center;
    padding: 5px;
}

.omg h4 {
    background-color: #FF4F19;
}

.dont h4 {
    background-color: #00B284;
}

.take h4 {
    background-color: #B22A00;
}

.huge h4 {
    color: #00B284;
}

.omg, .dont, .take {
    color: #B22A00;
    height: auto;
    padding: 0 94px;
}

.ps {
    color: #B22A00;
    height: auto;
    padding: 0 94px;
    text-align: center;
}

.huge h4 span {
    color: #FF4F19;
}

p {
    line-height: 28px;
}

p span {
    font-weight: bold;
    text-transform: uppercase;
}

footer p {
    color: #B22A00;
    font-size: 14px;
    padding: 24px 0;
    text-align: center;
}