.evachuy-advice {
	width: 800px;
	margin: 70px auto;
	background-color: #E8CBF5;
}
.evachuy-advice h4{
	text-align: center;
	font: 24px 'Paprika';
	color: #3F0342;
}
#advice h1, p {
	font: 18px "ubuntu";
	text-align: center;
	color: #EA0CF7;
}
header h1 {
	font: 32px 'Zapfino';
	font-weight: bold;
	text-transform: capitalize;

}
footer p {
	padding-top: 90px;
	font: 16px 'Paprika';
	color: #E8FCF5;
}
