body {
    width: 100%;
    font-size: 15px;
    background-color: #f3f3f3;
}

header p {
    text-align: center
}

h1, h4 {
    font-family: 'Libre Baskerville', serif;
    padding: 0px;
    margin: 0px;
    text-align: center
}

h4 {
    margin-top: 60px;
}

p {
    margin-top: 2;
    line-height: 1.2;
}

q {
    margin-left: 100px;
}

header h1, header p, .advice, footer {
    margin: 0 auto;
    max-width: 700px;
}

header p, .advice, footer {
    font-family: 'Open Sans', sans-serif;
}

footer {
    margin-top: 40px;
}
