/** Add a comment at the beginning of your CSS styles with your name**/

/****Francia Vasquez's Stylesheet for Advice Webpage*****/
body{
  font-family: 'Montserrat', sans-serif;

  color: #465165;
}

div{
  margin: 120px;
}

.franvasquez-advice h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 34px;
  color: #465165;
  margin-top: 100px;
  margin-left: 80px;
  text-align: center;
}

.franvasquez-advice h4{
  font-family: 'Oregano', cursive;
  font-size: 24px;
  color: #4aa1bf;
  text-align: center;
  text-transform: uppercase;
}

.franvasquez-advice p{
   font-size:  20px;
   text-align:  center;
}

footer{
  font-size: 12px;
}
