.genaeb-advice {
	background-color: #8f969c;	
	text-align: center;
	font-family: 'Patua One', cursive;
}

.genaeb-advice h1 {
	color: #51188e;
	text-align: center;
}

.genaeb-advice h4 {
	text-transform: uppercase;
}

.genaeb-advice footer {
	text-align: center;
	color: #51188e;
}