html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    font-size: 16px;
}

div {
	display: block;
    width: auto;
    height: auto;
    margin: 0px 3px 0px 3px;
    padding: 3%;
}

.huge {
    font-family: 'anton';
        color: #2aa2a2;
    text-transform: uppercase;
        font-size: 55px;
    font-weight: bolder;

}

.big {
	font-family: 'amatic sc'serif;
	color:#008080;
	text-transform: capitalize;
	font-style: normal;
    font-size: 45px;
}

.medium {
   	color: #ff33cc;
    font-family: 'tinos', serif;
    font-size: 45px;
    line-height: 65px;
    font-weight: bolder;

}


.fun-quote1 {
    font-family:'architects daughter', cursive;
    font-size: 28px;
    letter-spacing: 2px;
    color: #00cca3;


}

.fun-quote2 {
    font-family: 'handlee', cursive;
    font-size: 32px;
    letter-spacing: 1.5px;
    color: #20a3a3;

}

.fun-quote3 {
    font-family: 'montserrat', sans-serif;
    font-size: 30px;
    line-height: 20px;
    color: #1f7a7a;

}

.fun-quote4 {
    font-family: 'poiret one', italic;
    font-size: 30px;
    text-align: center;
    color: #33cccc;

}

.fun-quote5 {
    font-family: 'oxygen', normal;
    color: #29a3a3;
    font-size: 30px;

}
.fun-quote6 {
    font-family: 'signika', serif;
    color: #49d0d0;
    font-size: 32px;
}

.fun-quote7 {
    font-family: 'oxygen', bold;
    font-size: 32px;
    font-style: italic;
    color: #2fb6b6;
}



#favorite-quote {
    color: #ff33cc;
    font-family: helvecta, serif;
    font-size: 65px;
    line-height: 65px;
    text-transform: uppercase;
    font-weight: bolder;

}

h1 {
    font-family: arial, serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    color: #1f7a7a;
    text-align: center;
}

p {
    font-family: 'amatic sc', serif;
    font-size: 34px;
    font-weight: 500;
    color: #258e8e;
    text-align: justify;

}
#credits {
    color: #ff33cc;
    font-family: helvecta, serif;
    font-size: 2em;
    line-height: auto;
    font-weight: normal;

}