body    {
        background-color: #272c3f;
        margin: 0px;
        }
/*    fonts:

    font-family: 'Poppins', cursive;
*/



    h1, h2, h3, h4, p {
        color: #ffffff;
        font-family: 'Poppins', cursive;
        font-size: 20px;
        line-height: 25px;
        margin: 0px;
        padding-top: 50px;
          }
    
    h1 {
        font-family: 'Roboto', bold;
        font-size: 50px;
        line-height: 1.6;
    }

     h2 {
        font-family: 'Roboto', bold;
        font-size: 30px;
        line-height: 1.6;
    }

    .button {
    color:#ffffff;
    text-decoration: none;
        font-family: 'Poppins';
        border-radius: 0px 0px 10px 10px;
        background: #f46000;
        padding: 20px 20px 20px 20px;
        width: 100px;
        height: 80px;
        font-size: 30px;
        margin: 20px;
        text-align: center;
        }
    .button:hover, .button:active{
        background: #ff9933; /* old color was #90BF27 */
        }

    footer {
      color: #f46000;
      font-family: 'Poppins', cursive;
      font-size: 20px;
      line-height: 25px;
      padding-top: 50px;
      text-align: center;
        }
    
    #content {
        font-family: 'Poppins', sans-serif;
        max-width: 60em;
        margin-top: .5em;
        margin-left: auto;
        margin-right: auto;
        }

