/** Add a comment at the beginning of your CSS styles with your name**/

/**** Habashiya (Hauwa) Style Advice ****/
.habashiya-advice{
  background: #69fff7;
  padding: 10px;
}

.habashiya-advice h1 {

	font-size: 40px;
	color: #010008;
	text-align: center;
  letter-spacing: 2px;
  text-transform: none;
  font-family: 'Monoton', cursive;
}

.habashiya-advice h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #d43673;
	text-align: center;
	letter-spacing: 2px;
}


.habashiya-advice .advice p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: 	#25116d;
  text-align: justify;
  line-height: 30px;
}

.habashiya-advice footer {
	font-family: 'Cinzel Decorative', cursive;
	font-size: 18px;
	color: 	#000000;
	text-align: center;
}

/***** end Habashiya's Advice *****/
