/** Add a comment at the beginning of your CSS styles with your name**/

/** Holly Gualco's Styles **/
.container-left {
  float: left;
  width: 47%;
  padding: 10px;
}

.container-right {
  float: left;
  width: 47%;
  padding: 10px;
}
.advice-hollygualco {
    width: 96%;
    padding: 0 2%;
    background-color: #fff;
    font-family: sans-serif;
    margin: 0 auto;
}

.advice {
  padding: 5px 10px;
}

.advice-hollygualco header {
  text-align: center;
  margin: 20px;
}

.advice-hollygualco a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.advice-hollygualco h1 {
    color: #990099;
    font-weight: bold;
    text-align: center;
    background-color: #57D9D4;
    padding: 10px;
    border-radius: 10px;
}
.advice-hollygualco h4 {
    border-radius: 10px;
    background-color: #57D9D4;
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
    color: #000;
    padding: 10px;
    width: 95%;
    margin: auto;
}
.advice-hollygualco p {
    color:#990099;
    text-align: left;
    margin: auto;
    padding: 10px;
}
.advice-hollygualco footer {
    clear: both;
    color: #990099;
    text-align: center;
    margin: auto;
    font-size: 13px;
    font-style: italic;
}
