/*****Jaffacake Style*****/
body {
  width: 98%;
  margin: auto;
  font-family: 'Amatic SC', cursive;
  background: #003399;
}

h1 {
  font-size: 48px;
  color: #ffffcc;
  text-align: center;
}

h4 {
  font-size: 32px;
  color: #ffffcc;
  text-align: center;
}

p {
  font-size: 24px;
  color: #ffffcc;
  text-align: left;
}

.advice {
  background: #333399;
  border-radius: 25px;
  opacity: 0.8;
  padding: 10px;
  border-color: #000000;
  border-style: solid;
  border-width: 2.5px;
}

.copy {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 16px;
}
