/* Jason Thomas' Styles */
.jasonthomas-advice {
    font-size 28px;
    color: brown
}

.jasonthomas-advice{
    color: #4db97b;
    font-size: 18px;
    font-family: 'Gill Sans',sans-serif;
}

/* */