body {
	background-color: lightgrey;
}

header {
	position: relative;
	margin: auto;
	display: block;
	margin-top: 8%;
	width: 600px;
	height: 100px;
	background: none;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 36px;
	font-weight: 200;
}

h2 {
	font-family: 'Audiowide', cursive;
	font-size: 28px;
	color: #ac6289;
}

.jeffreyww-advice{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 340px;
  background: none;
}

.victory {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
}

.learn {
	font-family: 'Black And White Picture', sans-serif;
	font-size: 22px;
}

.deeper {
	font-family: 'Cute Font', cursive;
	font-size: 26px;
}