/*****JenBroman Style*****/

body {
  width: 70%;
  margin: auto;
  font-family: 'Roboto';
  background: #c5d5cb;
}

h1 {
  font-size: 36px;
  color: #494B4B;
  text-align: center;
}

h4 {
  font-size: 28px;
  color: #494B4B;
  text-align: center;
}

p {
  font-size: 20px;
  color: #020202;
  text-align: left;
}

.advice {
  background: #e3e0cf;
  border-radius: 25px;
  opacity: 0.8;
  padding: 15px;
  border-color: #494B4B;
  border-style: solid;
  border-width: 2.5px;
}

.copy {
  font-family: 'Roboto';
  text-align: center;
  font-size: 16px;
}

.footer {
  font-family: 'Roboto';
  text-align: left;
  font-size: 12px;
}
