/** Add a comment at the beginning of your CSS styles with your name **/
/*Jessica advice styling*/

body {
  color:#fff;
  padding: 25px;
  margin: 0 auto;
  background-color: #867986;
  font-family: sans-serif;
}
h1, h2 {
  font-family:'Shadows Into Light', cursive;
  text-align: center;
}
h1 {
  margin-top: 10px;
  font-size: 70px;
  color: #70dbdb;
}
h2 {
  font-size: 40px;
  margin: 10px;
}
h4 {
    font-family: 'Roboto', sans-serif;
    color: #cc0000;
    font-size: 40px;
}
p {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 15px;
  padding-left: 10px;
}


/**End Jessica **/
