*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'arial', sans-serif;
	text-decoration: none;
}

.jizelle-advice,
a{
	color: #333;
}

.jizelle-advice header{
	background-color: teal;
	text-align: center;
	padding: 5rem;
	color: white;
}

.jizelle-advice h1{
	font-size: 2rem;
	padding: 1.5rem;
}

.jizelle-section{
	width: 50%;
	margin: 0 auto;
	padding: 1rem;
}

.jizelle-advice h4{
	font-size: 1.5rem;
	line-height: 2rem;
	margin-top: 2.5rem;
	text-align: center;
}

section p{
	font-size: 1rem;
	line-height: 1.25rem;
	margin-top: 1.5rem;
	color: grey;
	text-align: center;
}

.jizelle-advice a{
	font-size: 1.25rem;
	background-color: lightcoral;
	color: white;
	padding: 1rem;
	border-radius: .5rem;
}

.jizelle-advice a:hover{
	background-color: lightskyblue;
}

.jizelle-advice footer{
	text-align: center;
	font-size: 1.25rem;
	padding: 1rem;
	margin-top: 3rem;
	background-color: teal;
	color: white;
}
