/* JMart advice styling  */
.jmart-advice body{
	font-align:center;
}
.jmart-advice h1{
	color: #E9662C;
	font-size: 36px;
	font-family: Cambria;

	font-align:left;

}

.jmart-advice h4 {
	color: #FBAF3C;
	font-size: 22px;
	font-family: Cambria, sans-serif;
}

.jmart-advice p{
	color: #00AC65;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 0px 80px 0px 80px;

}

/**End JMart **/
