body {
background-color:deepskyblue;
    margin-left:100px;
    margin-right:100px;
    font-size: 1.5em;
}

h1{
    text-decoration: underline;
}

p{
    line-height:40px;
}

footer {
    display:flex;
    justify-content: center;
}

footer p{
    
    font-weight:bold;
}