

header, img {
    min-width: 100%;
}

h1 {
	font-family: Garamond;
	text-align: center;
}

h4 {
	font-family: Garamond;
	text-align: center;
	color: IndianRed;
	font-size: 36px;
}

p {
	font-family: Garamond;
	text-align: center;
	font-size: 24px;
}
