/** Add a comment at the beginning of your CSS styles with your name**/

#jtreloar-advice h1, h2, h3, h4 {
	font-family: 'Verdana';
}

#jtreloar-advice h1 {
	font-size: 24px;
	color: red;
}

#jtreloar-advice h2 {
	font-size: 22px;
}

#jtreloar-advice h3 {
	font-size: 20px;
}

#jtreloar-advice h4 {
	font-size: 18px;
	color:darkgrey;
}

#jtreloar-advice p {
	font-size: 14px;
}
