section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}
.julieward-advice {
	font:18px;
	color:blue;
	font-weight:bold;
	background: pink;
}