/*** BASE STYLES ***/
html {
    background      : url("https://preview.ibb.co/fzWTZJ/flowers1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size : cover;
    color           :#854c8a;
  }
  
  /*** GRID STYLES***/
  .full-width {
    margin          : 0 auto;
    width           : 1200px;
  }
  
  .half-width {
    float           : left;
    padding-right   : 20px;
    width           : 580px;
  }
  
  /*** HEADER SECTION ***/
  header {
    text-align      : right;
  }
  
  h2 {
    font-family     : 'Great Vibes', cursive;
    text-align      : center;
  }
  
  header span {
    font-size       : 12px;
  }
  
  /*** BODY ***/
  
  /*** Body Grid ***/
  #anon .full-width {
    padding         : 10px 0px;
  }
  
  #first-two .full-width {
    padding         : 10px 0px;
  }
  
  #last-two .full-width {
    padding         : 10px 0px;
  }
  
  #epp-led .full-width {
    clear           : both;
    padding         : 10px 0px;
  }
  
  /*** Body Styles ***/
  #anon {
    font-family     : 'Great Vibes', cursive;
    text-align      : center;
  }
  
  #anon span {
    font-size       : 60px;
    font-weight     : bold;
  }
  
  #time {
    font-family     : 'Chivo', sans-serif;
    font-size       : 25px;
  }
  
  #attention {
    font-family     : 'Roboto', sans-serif;
  }
  
  #attention p {
    font-size       : 25px;
  }
  
  #slack {
    font-family     : 'Roboto', sans-serif;
  }
  
  #slack p {
    font-size       : 25px;
  }
  
  #practise {
    font-family     : 'Chivo', sans-serif;
    font-size       : 25px;
  }
  
  #epp-led {
    font-family     : 'Great Vibes', cursive;
    text-align      : center;
  }
  
  #epp-led span {
    font-size       : 60px;
    font-weight     : bold;
  }
  
  /*** FOOTER SECTION ***/
  footer {
    clear           : both;
    font-family     : 'Great Vibes', cursive;
    text-align      : center;
  }
    