body {
  background: #1FB6DA;
  font-family: sans-serif;
  color: #ffffff;
  margin: 2rem;
}

body a {
  text-decoration: none;
  color: #ffffff;
}

h4 {
  text-decoration: underline;
}

.advice {
  margin: 3rem;
  text-align: justify;
}
