/******Header******/
.katerituttle-advice header {
    overflow: auto;
    border-bottom: 10px solid #edf10a;
}

.katerituttle-advice h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 250px;
    margin: 0px 18px 0px 35px;
    width: 560px;
    float: left;
    text-transform: uppercase;
    font-weight: 300;

}

.katerituttle-advice h2 {
    font-family: 'Montserrat', sans-serif;
    float: left;
    font-size: 63px;
    line-height: 66px;
    margin: 80px 35px 0px 18px;
    width: 680px;
    text-transform: uppercase;
    font-weight: 550;
}

/*******Advice Section*********/

.katerituttle-advice h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin: 35px 0px 10px 35px;

}

.katerituttle-advice p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 35px;
    letter-spacing: 2px;
    line-height: 30px;
}

.section1, .section2 {
    border-bottom: 10px solid #edf10a;

}

