.advice h1 {
	color:blue;
}

.kentons-advice {
	font-weight: bold;
	font-family: Times, sans-serif;
	font-size: 16px;
}
footer {
	font-size: 12px;
}

.kentons-advice {
    box-shadow: 10px 100px 500px #888888;
}

