
/*****KEVIN ZHAO STYLE*****/

.kevinzhao-advice {
  font-family: 'Bellefair', sans-serif;
  color: #BF3F1C;
  background-color: #7d8076;
  font-size: 36px;
  text-align: center;

}

.kevinzhao-advice h2 {
  color: #efe8dc;
  font-size: 48px;
  font-variant: small-caps;
  letter-spacing: -2px;
}

.kevinzhao-advice p {
  color: #293549;
  font-family: 'Bellefair';
  font-size: 26px;
}

.kevinzhao-advice h4 {
  color: #293549;
  font-size: 12px;
  padding: 40px;

}

/********/

