
.kiaramartin-advice p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
}

.kiaramartin-advice h1 {
  background-color: teal;
  color: white;
    font-family: 'Nunito', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 50px 0;
}

.kiaramartin-header h4 {
  color: black;
  font-size: 60px;
  font-weight: lighter;
  font-family: 'Dawning of a New Day', cursive;
  text-align: center;
}



.kiaramartin-footer p {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 25px;
  text-align: center;
}
