
.kle-advice {
  background-color: #E1DCD9;
  padding: 40px;
}

h1 {
  color: green;
  font-size: 40px;
  padding-top: 20px;
}

.kle-advice h4 {
  color: red;
  font-size: 10px;
  text-transform: uppercase;
}

.kle-advice p {
  color: yellow;
  font-size: 15px;
}
