/** Add a comment at the beginning of your CSS styles with your name**/


/**  Kim Miller styles **/
.kmiller-advice h4 {
	border-bottom: 1px solid #5F9EA5;
	padding-bottom: 5px;
}

.kmiller-advice body{
    background-color:#7FFFD4; /** this is a aquamarine **/
}

.kmiller-advice h1{
	color: #5F9EA0; /** this is cadetblue **/
}

}
.kmiller-advice p{
	font-family: Impact, Charcoal, sans-serif;
	font-weight: lighter;
	color: 2F4F4A;
}
/**End styles for Kim Miller**/

