/** Add a comment at the beginning of your CSS styles with your name **/

/*kori-advice Styles*/

.kori-advice {
    font-family: 'Gill Sans', sans-serif;
    color: #2F3632;
}

.kori-advice div {
    box-shadow: .1em .1em .5em #2F3632;
    padding: 2em;
    width:  50%;
    margin-left: auto;
    margin-right: auto;
}

.kori-advice h4 {
    background-color: purple;
		font-style: bold;
		font-size: 22px;
		color: yellow;
}

/*end kori-advice Styles*/
