/** Kristen's Styles **/


.kristenls-advice {
  font-family: 'Varela Round', sans-serif;
  background-color: #BFACB5;
}

.kristenls-advice h1, h4, p{
    text-align: center;
}

.kristenls-advice h1 {
  color: #565676;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
  border: 2px solid #A76571;
  }

.advice h4 {
  color: #A76571;
  font-size: 24px;
  letter-spacing: 1px;
  text-decoration: underline;
  padding: 10px;
}

.advice p {
  color: #FFFFFF;
  padding: 15px 325px;
}
