body {
  background-color: #ffb3d9;
}

header {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 100px;
  background: none;
}

h1 {
  font-family: 'Broadway', cursive;
  font-size: 36px;
  font-weight: 200;
}

h2 {
  font-family: 'Montserrat', cursive;
  font-size: 28px;
  color: #ffffff;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 36px;
  font-weight: 200;
}
p{
  font-family: 'Arial';
  color: #ffffff;
  font-size: 24px;
}

.ladysakura-advice{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 440px;
  background: none;
}

.victory {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
}

.learn {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 22px;
}

.deeper {
  font-family: 'Cute Font', cursive;
  font-size: 26px;
}