/** Add a comment at the beginning of your CSS styles with your name**/

.lala-advice {
        font-family: Arial,Helvetica,sans-serif ;
        color: #3b3b3b;
        max-width: 600px;
        margin: 20px 20px;
        text-align: left !important;

}

.lala-advice p,.lala-advice a {
        font-family: 'Open Sans', sans-serif;
}

.lala-advice h2 {
        font-size: 50px;
                color: #EA95BC;
                text-transform: uppercase;

}

.lala-advice h1 {
  font-size: 30px;
}


.lala-advice p,.lala-advice a {
        font-size: 18px;
        line-height: 130%;
}

.lala-advice a,.lala-advice a:hover {
	text-decoration: underline;
}

.lala-advice a,.lala-advice a:visited {
        text-decoration: none;
        color: #EFAAC4;
}
