body{
  width: 98%;
  background-color: #ffe6f2;
  font-family: 'Josefin Slab', serif;
}
header{
  border-bottom: #ff1a88 solid 1px;
}
h1{
  font-size: 3em;
}
#laurie{
  font-family: 'Satisfy', cursive;
}
section{
  height: 58%;
}
ul li{
  font-size: 1.4em;
  padding: 3px;
}
p{
  font-size: 1.6em;
  display: flex;
  justify-content: center;
}
footer{
  float: left;
  width: 100%;
  border-top: #ff1a88 solid 1px;
}
footer p{
  font-size: 1em;
}
