body.lauramottram-advice {
    width: 96%;
    margin: auto;
    font-family: 'Unna', serif;
    font-size: 16px;
}

.lauramottram-advice button {
    background: lightgray;
    border: none;
    height: 30px;
    box-shadow: 3px 3px gray;
}

.lauramottram-advice button a {
    text-decoration: none;
    color: #1C755D;
    font-size: 14px;
}

.lauramottram-advice button a:hover {
    color: #F21E24;
}

.lauramottram-advice button:hover {
    background: white;
    border: gray 1px solid;
}

.lauramottram-advice h1,
.lauramottram-advice h4,
.lauramottram-advice button a {
    font-family: 'Sansita', sans-serif;
}

.lauramottram-advice h1 {
    color: orange;
    font-size: 36px;
}
.lauramottram-advice h4 {
    color: #F21E24;
    font-size: 24px;
    margin-bottom: 5px;
}

.lauramottram-advice p {
    font-size: 18px;
}

.lauramottram-advice footer {
    font-style: italic;
}
