/* Leandra's Styles */
html {background: #C0C0C0;}
.leandra-advice h1, p{font-family: Helvetica,sans-serif, Arial;color: #FF0000;text-align: center;}
.leandra-advice h4, h5{color: #ffffff; text-align:center;}

/* End of Leandra's Styles */
