/** Add a comment at the beginning of your CSS styles with your name**/

/* Lena's styles */
body {
  background: gray;
  font-family: sans-serif;
}

header {
  font-size: 16px;
}

header h1 {
  font-size: 28px;
  color: skyblue;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 28px;
}

.advice h4 {
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #862d59;
  line-height: 22px;
}

.advice p {
  font-size: 18px;
  line-height: 24px;
}

footer {
  font-size: 14px;
  text-align: center;
  color: white;
}

/* end of Lena's styles */
