.leogf-advice{
	background-color: #444;
	color: #efefef;
	font-family: 'Source Serif Pro', serif;
}
.leogf-advice section{
	width: 50%;
	margin: 50px 25% auto;
}

.leogf-advice p{
	text-align: justify;
}
.leogf-advice h1,
.leogf-advice h4,
.leogf-advice footer p{
	text-align: center;
    color: chartreuse;
}