/** Add a comment at the beginning of your CSS styles with your name**/

/***** Liane Chan's Advices *****/
.section {
  width: 800px;
  margin: 100px auto;
  background-color: #teal;
}
section h1,
section p {
  text-align: center;
  color: #454545;
  background-color: #b4edc9;
}
h1, h4 {
  font: 32px 'Satisfy', cursive;
  font-weight: bold;
  color: #333333;
  background-color: #42c5f4;
}
section p, footer {
  font: 16px 'Lato', sans-serif;
}
  font-family: cinzel;
}
