body {
  text-align: center;
  font-family: 'Supermercado One', cursive;
}
h1 {
  text-align: center;
  color: deepskyblue;
}

h2 {
text-align: center;
color: mediumpurple;

}

h4 {
font-family: 'Kavivanar', cursive;
}
