


body{
background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}

header{
    background: #fff;
    opacity: 0.5;
}
header, h3, section {
    text-align: center;
}

.halves {
    display: flex;
  }
  .half { /* child of .halfs */
    width: 50%;
    padding: 25px;
  }

p, h3 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 18px;
}

h1, h2, h4, h5 {
    font-family: 'Lobster', cursive;
}


.TE {
    text-align: center;
    text-shadow: #6374AB -20px 20px 2px;
}

footer {
    font-family: 'Source Code Pro', monospace;
}