.loriwesthaver-advice h1 {
	font-family: 'Lobster', cursive;
	font-size: 36px;
	color: purple;
}

.advice h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	color: blue;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
