/** Add a comment at the beginning of your CSS styles with your name**/

/*Lori Valdez*/
.lorivaldez-advice h1 {
  font-size: 48px;
	background-color: #ff6840;
	height: 80px;
	color: white;
	text-align: center;
	padding-top: 30px;
}

.lorivaldez-advice h2 {
  font-size: 32px;
	text-align: center;
}

.lorivaldez-advice p {
	padding: 0 25px 0 25px;
	font-size: 24px;
}
