/*Lovinah E Styles*/
.lovinahe-advice {
  background-color: #f2e6e9;
  margin: auto;
  font-family: 'Didact Gothic', sans-serif;
  width: 1000px;
}
.lovinahe-advice a {
  font-style: italic;
  font-size: 12px;
}
.lovinahe-advice h1 {
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  letter-spacing: normal;
  color: #322423;
}
.lovinahe-advice h4 {
  font-style: italic;
  font-size: 20px;
  color: #4F4237;
  text-align: center;
}
.lovinahe-advice footer {
  margin-top: 150px;
}
