/** Add a comment at the beginning of your CSS styles with your name**/
/******** Luisa's Advice Styles ********/

.lsabinkildiss-advice {
  background-color: #7a7b7b;
  padding: 30px 30px 30px 30px;
}
.lsabinkildiss-advice h1 {
    font-family: 'Dosis', sans-serif;
    font-color: #5c5e5f;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 36px 0;
    
    }
.lsabinkildiss-advice h4 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin: 0 0 36px 0;
    text-align: left;
    }
.lsabinkildiss-advice p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
.lsabinkildiss-advice-footer p {
  text-align: center;
  text-decoration: overline;
  text-transform: uppercase;
}

