.lsavoie-advice header a {
  text-decoration: none;
}
.lsavoie-advice header h1 {
  font-size: 36px;
  text-align: center;
  color: pink;
  font-variant: small-caps;
}

.lsavoie-advice h2 {
  font-size: 24px;
  color: purple;
  text-align: center;
}

.lsavoie-advice p {
  font-size: 16px;
  color: navy;
  text-align: center;
}
