/*** lynettelim's Styles ***/
.lynettelim-advice header {
    color: #39120A;
    font-family: 'Century Gothic';
}
.lynettelim-advice h1 {
    color: #900C3F;
    background-color: #EABABO;
    font-size: 24px;
    font-family: 'Century Gothic';
}
.lynettelim-advice h4 {
    color: #900C3F;
    background-color: white;
    font-size: 18;
    font-family: 'Century Gothic';
}
.lynettelim-advice p {
    color: #900C3F;
    font-size: 14px;
    font-family: 'Century Gothic';
    background-color: #EABABO;
}
.lynettelim-advice footer p {
    color: white;
    font-weight: bold;
}

/*** End lynettellim's Styles ***/
