/***Mac Harris' Advice****/
.macharris-advice h1{
  font-family:sans-serif;
  color:purple;
  text-align:center;
  font-weight:bold;
}

.macharris-advice h4{
  text-transform: uppercase;
  font-style:italic; 
  text-align:center; 
}

.macharris-advice p{
  font-family: VT323;
  font-variant: small-caps;
  text-decoration: underline;
  font-size:24px;
  text-align:center;
}

/**** END MAC's ADVICE***/