@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);


body {
  font-family: 'Rokkitt', serif;
  color: #2C3E50;
  opacity: 0.87;
  line-height: 1.25;
  letter-spacing: 1.15;
  font-size:1.15em;
}

.header {
    height:150px;
    vertical-align:bottom;
}


/* Navigation */

.navbar {
  background-color: rgba(30,87,153,1);
  border: none;
  padding:15px;
}

.navbar-text {
  background-color: white;
  padding: 7px 5px;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  transition: .5s;
}

.navbar-text:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  transition: .5s;
}

/* Text */

.advice {
    margin:auto;
    align:center;
    width:600px;
}

.textbox{
    margin-top:20px;
}

div.textbox ul li {
    margin-left: 5%;
}

img {
    width: 100%;
    border: 1px solid #323232;
  padding: 5px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, .5);
}

figure {
    margin-left: 5%;
    display: table;
    font-size:.9em;
}


.footer{
    background-color: rgba(30,87,153,1);
    height:50px;
    vertical-align:center;
    line-height: 50px;
    color:white;
    padding-left:15px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: rgba(30,87,153,1);
}
