body {
	background-color: #CBFFFC;

}

header a {
	color: #000;
	text-decoration: none;
}

header a:hover {
	color: #7F0000;
	text-decoration: none;
	text-transform: uppercase;
}

h1{
  color: #7F0000;
}

h4 {
  padding-bottom: 5px;
} 

p{
  font-weight: lighter;
  color: #2f4f4f;
}

p a {
	color: #7F0000;
	font-weight: bold;
}

p a:hover {
	color: #7F0000;
	text-decoration: none;
	text-transform: uppercase;
}

footer p {
	color: #7F0000;
}