/* Matt Pahuta's Styles */

.advice .advice p {
    background-color: #0099FF;
    border-radius: 5px;
    margin: 10px 200px;
    border-width: 1px;
    border-style: solid;
  }
  
  .advice h1{
    font-family: 'garamond';
    font-size: 35px;
    font-weight: bold;
    color: black;
  }
  
  .advice h4{
    font-family: 'garamond';
    font-size: 25px;
    font-weight: bold;
    color: green;
  }
  
  .advice p {
    font-family: 'garamond';
    font-size: 20px;
    color: blue;
  }
  .advice footer p {
    font-size: 13px;
    font-weight: bold;
    color: black;
  }