.advice-megand {
    font-family: sans-serif;
    font-size: 1em;
    background-color: #339966;
    color: #fff;
}
.advice-megand header {
    width: 95%;
    margin-bottom: 2%;
    padding: 1%;
    border: 2px solid #000;
}

.advice-megand div {
    width: 90%;
    margin: 0 2%;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 10px;

}

.advice-megand h4 , h1 {
    font-weight: bold;
}
