/** Add a comment at the beginning of your CSS styles with your name**/

/**** Megan's Advice *****/

body {
  background-color: #000000;
  color: #bdbaad;
  text-align: center;
}
.meganlbailey-advice h1{
  font-family: 'Montserrat', sans-serif;
  font-weight:  100;
  font-size:  40px;
  margin-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
}
.meganlbailey-advice h2{
  font-family: 'Montserrat', sans-serif;
  font-weight:  100;
  font-size:  40px;
}
.meganlbailey-advice p{
  font-family: 'Montserrat', sans-serif;
  font-weight:  100;
  font-size:  24px;
  margin-top: 50px;
  padding-right: 100px;
  padding-left: 100px;
}
.meganlbailey-advice footer p{
  font-family: 'Montserrat', sans-serif;
  font-weight:  100;
  font-size:  12px;
  margin-top:  40px;
}
