/** Add a comment at the beginning of your CSS styles with your name**/

/*** Melissa's Advice ***/

.melissag-advice {
  background-color: #e0eee0;
}

.melissag-advice a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

.melissag-advice h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
  color: #83ae9b;
}

.melissag-advice h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #7b7b7b;
  text-align: center;
}

.melissag-advice .advice p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 300;
  width: 300px;
}

.melissag-advice footer p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #83ae9b;
  text-align: center;
  padding-top: 60px;
}
