/** Add a comment at the beginning of your CSS styles with your name **/
/** Melissa Tarbox Advice Styling **/
.melissatarbox-advice {
  color: #666666;
  font-family: 'Abril Fatface', cursive;
}
h1 {
  color: #800080;
}

h4 {
  color: #800080;
  text-decoration: underline;
}
}
