/** Add a comment at the beginning of your CSS styles with your name **/


/** Michelle McManus styles **/
.michellemcmanus-advice {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px 40px 40px 20px;
}
.michellemcmanus-advice .advice h4 {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}

.michellemcmanus-advice h1{
	color: DarkSlateGray;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.michellemcmanus-advice .advice h4 {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}
.michellemcmanus-advice #wrap{
	width: 600px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}
.michellemcmanus-advice p{
	font-weight: lighter;
	color: DimGray
}

.michellemcmanus-advice .advice h1 {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.michellemcmanus-advice .advice p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 100%;
}

.michellemcmanus-advice .advice h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(216, 35, 42);
	
}

.michellemcmanus-advice .advice ol {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 100%;
	}

.michellemcmanus-advice .advice li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 100%;
}


/* End Michelle McManus's advice style */