
/* Michelle O'Neill's Advice */
.michelleoneill-advice {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: GoldenRod;
  padding: 20px;
}

.michelleoneill-advice h1 {
  text-decoration: bold;
  color: black;
}

.michelleoneill-advice h4 {
  text-decoration: bold;
  color: black;
}