@charset "UTF-8";
/*CSS Document*/

.mike-advice h1 {
  font-family: sans-serif;
  text-align: center;
  color: #000080;
  font-size: 34px;
}

 .mike-advice h4 {
  font-family: sans-serif;
  text-align: right;
  color: #4169E1;
  font-size: 30px;
}

 .mike-advice p {
  font-family: sans-serif;
  text-align: right;
  color: black;
  font-size: 20px;
}

 .mike-advice footer {
  font-family: sans-serif;
  text-align: center;
  color: #000000;
  font-size: 15px;
}
