
/*Megan McCarron-Haber's Styles*/

.mmh-advice {
  background:#eaece5;
  color:#3b3a30;
  font-family:Helvetica, sans-serif;
  font-size:16px;
  }
   h1 {
   font-size:3em;
   }
   h4 {
   font-size 2em;
   }
   span{
   font-style:italic;
   }

p.copyright {
  color:#c0ded9;
  text-align:center;
  }