
@import url('https://fonts.googleapis.com/css?family=Raleway:300|Righteous');

.nataliebakers-advice{
	background-color: #444;
	color: #efefef;
	font-family: "Raleway", sans-serif;
}
.nataliebakers-advice section{
	width: 50%;
	margin: 50px 25% auto;
}
.nataliebakers-advice h1,
.nataliebakers-advice h4{
	font-family: "Righteous", serif;
}
.nataliebakers-advice p{
	text-align: justify;
}
.nataliebakers-advice h1,
.nataliebakers-advice h4,
.nataliebakers-advice footer p{
	text-align: center;
}
