/** Add a comment at the beginning of your CSS styles with your name**/

/** Natalierose's Styles **/
.natalierose-advice body, html{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #00ffcc;
  margin: 10px;
  padding: 10px;
  border: 10px dashed white;
  }

  .natalierose-advice header h1{
    font-size: 40px;
    font-family: shrikhand;
    text-align: center;
  }

  #natalierose-advice{
    margin: 10px;
  }

  #natalierose-advice h4{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  #natalierose-advice strong{
    font-size: 20px;
    font-weight: bold;
  }

/** End of Natalierose's Styles**/
