/** Add a comment at the beginning of your CSS styles with your name**/

/* Nhunghoang styling  */

.Nhunghoang-advice {

	border-style: solid;

	border-width: 4px;

	margin: 30px;

	border-color: red;

}



.Nhunghoang-advice body{

	font-align:center;



}

.Nhunghoang-advice h1{

	color: black;

	font-size: 36px;

	font-family: 'Open Sans', sans-serif;



	font-align:left;



}



.Nhunghoang-advice h4 {

	color: black;

	font-size: 22px;

	font-family: 'Open Sans', sans-serif;

}



.Nhunghoang-advice p{

	color: black;

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	padding: 0px 80px 0px 80px;



}



/**End Nhung H **/

