.nicolefield-advice {
  padding: 50px;
  width: 80%;
  float: left;
}
.nicolefield-advice h1 {
  font-family: Times;
  text-align: center;
}

.nicolefield-advice header {
  font-family: arial;
  text-align: center;
}

.nicolefield-advice h4 {
  font-family: arial;
}
