/****** Nicole Lettich's advice ******/

    .nicolelettich-advice{
     font-family: 'Open Sans', sans-serif;   
    }
    
    .nicolelettich-advice #name{
    font-family: 'Tangerine', cursive;
    font-size: 48px;
    color: blue;
    font-weight: bold;
        
    }

.nicolelettich-advice footer{
    text-align: center;
    background-color: gainsboro;
    
}

.nicolelettich-advice section{
    background-color: aliceblue;
}

.nicolelettich-advice section h4{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: blueviolet;
    
}
