.wrapper {
}

.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

html, body {
  background-image: url('http://nofrazie.github.io/images/motivation.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-top: 70px;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 50px;
}

#footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: #eee;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left:0;

}

#footer p {
  padding: 5px;
  margin: 3px;
}

.navbar-default .navbar-brand {
  color: #333;
  background-color: rgba(100, 100, 100, 0.2);
  transition: 0.5s;
}

.navbar-default .navbar-brand:hover {
  background-color: rgba(100, 100, 100, 0.3);
  color: #eee;
  transition: .5s;
}

#wrapper {
  min-height: 100%;
  position: relative;
}
