html{
  padding-bottom: 25px;
  padding-top: 25px;
  background:url("http://i.imgur.com/fhE3kRT.png");
}

body{
  padding: 15px 10px 15px 10px;
  width: 80%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  background: white;
  box-shadow: 0px 0px 1px 1px;
}

header{
  text-align: center;
}
nav {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2px
  margin-bottom: 2px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-left: hidden;
  border-right: hidden;
  text-align: center;
}

h1{
  font-family: 'Corben', cursive;
  margin-bottom: 0px;
  margin-left: 20px;
}

h4{
  font-family: 'Nobile', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;

}

p{
  font-family: 'Nobile', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;

}

a:hover{
  text-decoration: none;
  color: gray;
}

a:active{
  text-decoration: none;
  color: #4D4D4F;
}
