

.priya-advice {
  padding: 5%;
  width: 80%;
  margin: auto;
  background-position: center;
  background-color: gainsboro;
  border: 2px steelblue dotted;
}

.priya-advice a {
  color: black;
}

.priya-advice p {
  color: maroon;
}
.priyaadvice h1 {
  font-family: Times;
  text-align: center;
  color: maroon
}
.priya-advice header {
  font-family: arial;
  text-align: center;
  color: steelblue;
}

.priya-advice h4 {
  font-family: arial;
  color: maroon;
}
