/** Add a comment at the beginning of your CSS styles with your name**/


/***** Rie Singh's advice styles ******/
body {
    width: 970px;
    font-family: 'Source Sans Pro', sans-serif;
}

/****** GRID ******/
.full-width {
    width: 900px;
    padding: 35px;
  }

/****** HEADER ******/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    color: #dcae1d;
    font-weight: bold;
    text-align: center;
}

/****** MAIN ADVICE ******/
#advice {
    border: 8px dotted pink;
    font-family: 'Roboto', sans-serif;
    background-color: #caefed;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    color: #00303f;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/****** COPY RIGHT ******/
#copyright {
    text-align: center;
    color: darkgray;
}


/****** End R. Singh advice styles ******/
