
body {
  background: #5D7A98;
  font-family: 'Book Antiqua', serif;
  margin: auto;
  width: 70%;
}

h1 {
  color: #001337;
  font-size: 48px;
  text-align: center;
}

h4 {
  color: #001337;
  font-size: 24px;
  text-align: center;
}

p {
  color: #004B75;
  font-size: 18px;
  text-align: left;
}

.advice {
  background: #86B5E6;
  border-color: #001337;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  opacity: 0.6;
  padding: 15px 18px;
}

.footer {
  text-align: left;
  font-size: 14px;
}
