/** Add a comment at the beginning of your CSS styles with your name**/

/****Randi's advice*****/
h1 {
   font-family: 'dosis', sans serif;
   font-size:  43px;
   font-weight: 400;
   color:  #e7dded;
   margin:  25px;
   text-align: center;
   text-transform: capitalize;
 }

 h2 {
  color: #e7dded;
  font-family: 'dosis', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
 }


h3 {
  color: #e7dded;
  font-family: 'dosis', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.randis-advice {
  background-color: #504158;
  padding: 0 20px 0 160px;
  width: 1000px;
}

p {
   font-family: 'dosis', sans-serif;
   font-size:  24px;
   font-weight: normal;
   color: #b3a1be;
   line-height: 30px;
   text-align: center;
 }

footer p {
   font-family: 'dosis', sans-serif;
   font-size:  12px;
   font-weight: normal;
   color:  black;
   margin-top:  50px;
   text-align:  center;
   clear: both;
}