/** Rebecca's Styles **/

.advice {
  background-color: #FFBBB8;
  padding: 25px;
  margin: 50px;
}
h1 {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}
h1 {
  margin-top: 10px;
  font-size: 70px;
  color: #819CB2;
}
h4 {
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
}
p {
  font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 900;
  color: red;
}
