.rebeccawf-advice {
  background: #cccccc;
  max-width: 940px
  margin: auto;
}
.rebeccawf-advice header {
  background-color: #A6A6A6;
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
  border-style: solid;
  border-color: #732424;
}
.rebeccawf-advice h1, .rebeccawf-advice h4 {
  color: #882C2C;
  text-align: center;
}
.rebeccawf-advice h4 {
  font-size: 1.5em;
}
.rebeccawf-advice p {
  margin-left: 15%;
  margin-right: 15%;
}
.rebeccawf-advice a{
  text-decoration: none;
  color: #F2F2F2;
}
.rebeccawf-advice a:hover {
  color: #595959;
}
.rebeccawf-advice footer {
  margin-top: 5%;
}
