/** Add a comment at the beginning of your CSS styles with your name**/

/***** Reece's Advice *****/

.reece-advice {
  background-color: tomato;
}

.reece-advice h1,
.reece-advice h4 {
  font-family: 'Sunflower', sans-serif;
  color: gold;
}

.reece-advice h4{
    font-size: 28pt;
}

.reece-advice p,
.reece-advice a {
  font-family: 'Sunflower', sans-serif;
  color: gold;
}

