html {
  background-image: url('../background.jpg');
}
.renata-advice {

  color: white;
  width: 90%;
  padding: 0 5%;
  font-family: 'Oxygen';

}

h1 {
  font-size: 44px;
  background-color: rgba(255, 255, 0, 0.9);
  color: black;
  text-align: center;
}


.advice-quotes {
  font-size: 1.25em;
  color: 	#CCCCCC;
}

h4 {
  font-size: 1.5em;
  color: yellow;
}
footer {
  color: 	#CCCCCC;
  padding-top: 15%;
  text-align: center;
}
