h1 {
  text-align: center;
}

body {
  background-image: url(https://images.unsplash.com/photo-1470093879860-2221625b28be?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=998b18d100b67554356d92946e3693f6&auto=format&fit=crop&w=1504&q=80);
  background-position: cover;
  font-family: 'Bellefair', serif;
  color: black;
}

p {
  margin-left: : 3em;
  margin-right: 3em;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
}

ul {
  margin-left: : 3em;
  margin-right: 3em;
  padding-left: 100px;
  padding-right: 50px;
  font-size: 18px;
}

h2 {
  padding-left: 50px;
}
