/*Santia's Styles*/
.santiarivera-advice h1{
	font-size: 40px;
	color: #96be41;
	font-family: "Arial", sans-serif;
}
.santiarivera-advice h4{
	font-size: 24px;
	color: #96be41;
	font-family: "Arial", sans-serif;
}

.santiarivera-advice p{
	font-size: 18px;
	font-family: "Arial", sans-serif;
}