
.sarahmelton-advice {
	font-family: 'Helvetica', sans-serif;
}


.sarahmelton-advice h1 {
	color: gray;
	font-size: 24px;
	}

.sarahmelton-advice h4 {
	color: gray;
	font-size: 16px;

}

.sarahmelton-advice p {
	font-size: 14px;
}
