/******SARA LAYMAN******/

/** Add a comment at the beginning of your CSS styles with your name **/

.saralayman-advicetemplate body {
	background-color #ff3300";
    font-family: 'Playfair Display', serif;
	padding: 20px 0 20px 15px;
	font-weight: 500px;
	text-align: left;
}

.saralayman-advicetemplate p {
	margin-left: 40px;
	font-family: 'fantasy', sans-serif;
	font-size: 14px;
	text-align: left;
	font-color: black;
	padding: 25px;
	;
}

.saralayman-advicetemplate h3 {
	font-color: black;
	font-size: 18px;
	font-family: impact;
	font-weight: 700px;
	margin-left: 40px
	padding: 10px;

}
.saralayman-advicetemplate h1 {
	font-family: 'impact', sans-serif;
	font-color: red;
	text-align: left;
	padding: 20px;
}

/**End Sara's Styles **/