.sarah-d-advice {
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

.sarah-d-advice h1 {
  font-size: 4em;
  text-align: center;
}

.sarah-d-advice h4 {
  font-size: 2em;
}

.sarah-d-advice .advice {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  border: 1px solid #fff;
}

.sarah-d-advice .first-advice, .second-advice {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 3%;
  font-size: 1.5em;
  line-height: 1.2em;
}

.sarah-d-advice .first-advice {
  border-right: 1px solid #fff;
}
