body {
	font-family: 'Sacramento', cursive;
	font-family: 'Muli', sans-serif;
	background: #f2e7fc;
	margin: 120px;
}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 52pt;
	font-weight: bold;
}

.advice h4 {
	font-family: 'Muli', sans-serif;
	font-size: 30pt;
}

.advice p {
	font-family: 'Muli', sans-serif;
	font-size: 28pt;
}

footer p {
	font-family: 'Sacramento', cursive;
	font-size: 24pt;
}
