header{
text-align: center;
font-size: 20px;
font-family: Raleway;
}

h4{
text-align: left;
font-size: 17px;
font-family: Georgia;
}

p{
text-align: left;
font-size: 15px;
font-family: Raleway;
}

footer{
font-size: 12px;
font-family: Raleway;
}

