/** Sarah Montoro's Styles **/
.sarah-montoro-advice {
    width: 100%;
    background-color: #DFE2DB;
    font-family: sans-serif;
    margin: 0 auto;
    
}
.sarah-montoro-advice a {
    text-decoration: uppercase;
    color: #0066ff;
    font-weight: bold;
}
.sarah-montoro-advice  h1 {
    color: red;
    font-weight: bold;
    text-align: left;
}
.sarah-montoro-advice h4 {
    font-family: sans-serif;
    font-size: 22px;
    text-align: left;
    color: #ff6600;
}
.sarah-montoro-advice p {
    color:#00008B;
    text-align: left;
}
.sarah-montoro-advice  footer {
    color: #00008B; 
    text-align: center;
    font-size: 13px;
    font-style: italic;
}