/*--- Sasha's Styles ---*/

.sashas-advice h1 {
	font-family:"Roboto", serif;
	font-size: 40px;
	color: pink;
	padding-bottom: 50px;
	padding-top: 50px;
}

.sashas-advice h4 {
	font-family:"Roboto", serif;
	font-size: 30px;
	color: black;
	padding-bottom: 50px;
	padding-top: 50px;
}

.sashas-advice p {
	font-family:"Roboto", serif;
	font-size: 20px;
	color: black;
}
