/******** Shamira's Advice ********/
/*********************************
               BODY
**********************************/

.shamiras-advice {
  background-image: url('https://cdn.shopify.com/s/files/1/1765/3959/products/Dormify_Wallpops_White-Marble-Product_1080x1080.jpg?v=1494022464');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  padding: 10px;
}

/*********************************
              HEADER
**********************************/

.shamiras-advice a {
  color: indianred;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: black;
}

.shamiras-advice h1 {
  border-top: 1px solid black;
  font-family: 'Abril Fatface', cursive;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  width: 1200px;
}

header {
  clear: both;
}

/*********************************
              SECTION
**********************************/

.advice1 {
  border-top: 5px solid black;
  float: left;
  height: 450px;
  width: 600px;
}

.advice1 h4 {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: capitalize;
}

.advice2 {
  border-top: 5px solid black;
  border-left: 1px solid black;
  float: left;
  height: 450px;
  margin: 0px;
  padding: 0px;
  width: 600px;
}

/*********************************
         PARAGRAPHS & IMG
**********************************/

p {
  line-height: 20px;
  margin: 0px;
  padding: 20px 10px 10px 20px;
}

.advice1 p {
  padding-right: 20px;
}

.advice2 img {
  height: 300px;
  margin: 0px;
  padding: 0px;
  width: 600px;
}

/*********************************
              FOOTER
**********************************/

footer {
  background-color: black;
  color: indianred;
  clear: both;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 10px 20px 20px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 1163px;
}

/*********************************
           SPECIAL IDS
**********************************/

#name {
  color: indianred;
  font-family: 'Great Vibes',cursive;
  font-size: 50px;
  letter-spacing: 0px;
  text-transform: capitalize;
}

/***** End of Shamira's Advice *****/