/** Add a comment at the beginning of your CSS styles with your name**/

/**sherryc Styles**/
.sherryc-advice {
	background-color:#d8bfd8; 
	font-family: 'PT Serif', serif;
	font-variant: small-caps;
	font-weight: bold;
	margin: 50px;
	border:15px solid #008080 ;
	padding: 10px;
}

.sherryc-advice h1 {
	text-align: center;
	word-spacing: 25px;
	font-size: 40px;
	border: 3px dotted #800000;
	margin: 10px;
	padding: 10px;
}
.advice h4 {
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}
.advice p {
	font-size: 24px;
	line-height: 35px;
	text-align: justify;
	text-indent: 45px;
	margin: 0 20px 0 20px;
}
/**End sherryc Style**/