.sierramoser-advice {
	background: #99ffff;
	font-family: 'Signika';
	text-align: center;
}

.sierramoser-advice h1 {
	font-family: 'Pacifico', cursive;
}

.sierramoser-advice p {
	font-size: 16px;
	line-height: 24px;
	padding: 0 30px
}

.sierramoser-advice h4 {
	color: #353434;
	font-size: 21px;
}