/*********BriHayley's Styles**********/
.skyenguyen-advice {
  font-family: 'Pacifico', cursive;
  font-size:16px;
  
  border:3px solid #ff981a;
  border-radius:8px;
  padding:7px;
  text-align: center;
}

.skyenguyen-advice h1 {
  font-size:2em;
  color: salmon;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(8, 148, 101);
  text-align: center;
}

.skyenguyen-advice h4 {
  font-family: 'Pacifico', cursive;
  font-size: 1.4em;
  color:#894692;
  text-shadow: 1px 1px 2px;
  letter-spacing: 2px;
  text-align: center;
}

.skyenguyen-advice p {
  font-family: 'Archivo Narrow', sans-serif;
  font-size:1em;
  color: #800000;
  text-align: center;
}
