header, img {
    min-width: 100%;
}

h4 {
font-family: 'Open Sans', sans-serif;
text-align: center;
}

h1 {
font-family: 'Lora', serif;
text-align: center;
}

h1 span {
  color: #ff0000;
}

p {
  font-family:'Open Sans', sans-serif;
  text-align: center;
}

span {
  font-style: italic;
}

footer p {
  font-variant: small-caps
}
