body{
  display:flex;
  flex-flow:column wrap;
}

.sonjaleas2cts-advice{
  font-family:'Quicksand', sans-serif;
  font-size:18px;
  background-color:#eeeef9;
}

header{
  width:100%;
  margin:20px 10px;
}

h1{
  display:flex;
  font-size:2em;
  justify-content:center;
  align-items:center;
}

h1, h4{
  font-family: 'Gilda Display', serif;
  color:#392863;
  text-transform:capitalize;
}

h4{
  font-size:1.625em;
}

section{
  margin:0 5%;
}

.advice-1, .advice-2{
  border-bottom:2px dotted #392863;
  padding-bottom:20px;
}

p{
  color:#613463;
  line-height:1.5em;
}

footer{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:column wrap;
  margin:3% 0;
}

footer a{
  font-size:.75em;
}
