/** Add a comment at the beginning of your CSS styles with your name**/

/***** Steph C's Advice *****/

.stephc-advice a {
    font-family: tahoma, sans-serif;
    font-size: 18px;
    color: skyblue;
    text-decoration: underline;
}

.stephc-advice h1 {
    font-family: monospace;
    font-size: 48px;
    font-weight: bold;
    color: pink;
    text-align: center;
    text-decoration: none;
    background-color: #ebebeb;
}

.stephc-advice h4 {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    color: skyblue;
    text-align: center;
    text-decoration: none;
}

.stephc-advice p {
    font-family: tahoma, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-align: left;
    text-decoration: none;
}

.stephc-advice footer {
    font-style: italic;
}


