/** Add a comment at the beginning of your CSS styles with your name **/

/** Jubilee Bredenberg's Styles **/
.jubileebredenberg-advice {
	background-color: rgb(230, 230, 0);
	color: rgb(255, 92, 51);
	font-family:'Helvetica', sans-serif;
}

#jubileebredenberg-bubble {
	width: 1200px;
	height: 600px;
	margin: 50px auto auto auto;
	background-color: white;
	padding: 50px;
	border-radius: 100px;
}

.jubileebredenberg-advice a {
	font-size: 10px;
	text-decoration: underline;
	color: inherit;
	font-family:'Helvetica', sans-serif;
	margin-left: 350px;
	}

.jubileebredenberg-advice p {
	font-size: 10px;
	color: black;
	font-family: 'Helvetica', sans-serif;
    margin-left: 350px;
	}

.jubileebredenberg-advice h1 {
	font-size: 20px;
	margin-left: 350px;
	}

.jubileebredenberg-advice .advice {
	padding: 1px 250px 1px 250px;
    }

.jubileebredenberg-advice .advice h4 {
	font-size: 18px;
	color: rgb(230, 230, 0);
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px 20px 10px 100px;
	}

.jubileebredenberg-advice .advice p {
	font-size: 14px;
	text-align: justify;
	margin: 20px 20px 10px 100px;
	}

/** End jubileebredenberg's Styles **/

/*~~~~~~~~~~Britni's Styles~~~~~~~~~~*/
.britni-advice {
  width:500px;
  margin-right:auto;
  margin-left:auto;
  background-color:gray;
}
.britni-advice h1{
  font: courier;
  font-size: 48px;
  color:#1d0531;
}
.britni-advice h4{
  font: arial;
  font-size:32px;
  color:#321456:
}
.britni-advice p{
  font: arial;
  font-size: 16px;
  color:#2b1f39;
}

/** Marshmeryl Styles **/

.marshmeryl-advice h1 {
	font-family: Garamond;
	text-align: center;
}

.marshmeryl-advice h4 {
	font-family: Garamond;
	text-align: center;
	color: IndianRed;
	font-size: 36px;
}

.marshmeryl-advice p {
	font-family: Garamond;
	text-align: center;
	font-size: 24px;
}

.marshmeryl-advice {
	background-image: url('https://homeschoolcoach.files.wordpress.com/2012/11/marshmallow_checkerboard.jpg');
	background-repeat: repeat;
	background-position: left;
}

.marshmeryl-advice .footer p {
	font-family: Garamond;
	font-size: 18px;
	text-align: left;
}

/**End Marshmeryl Styles**/

/** ChrystalFaith Styles **/
.chrystalfaith-advice h1 {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	text-align: center;
}
.chrystalfaith-advice h4 {
font-size: 1.25em;
color: #660066;
font-family: 'Poiret One', cursive;
}

.chrystalfaith-advice p {
color: #b6b6b6;
font-family: 'Poiret One', cursive;
}

.chrystalfaith-advice .advice {
margin: 20px;
}

.chrystalfaith-advice footer {
text-align: center;
color: #b6b6b6;
font-family: 'Poiret One', cursive;
}
/** end Chrystal Faith Styles**/


/** Camie DeCOvich styles **/
.camie-advice {
  color:#669999;
  font-family: 'Railway', sans-serif;
  margin: 20px;
  padding:20px 40px;
}
/** Albert Ramirez Styles **/
.albert-advice h1 {
font-family:'Open Sans', sans-serif;
font-size: 2em;
text-align: center;
}

.camie-advice h1 {
	font-size: 2em;

}

.camie-advice h4 {
	font-size: 1.5em;
}

.camie-advice p {
  margin-bottom:40px;
  font-style:italic;
  font-family: 'Montserrat', sans-serif;
}

/** ChristieP's Styles **/
.christiepearson-advice background {
	background-color: #fffdeb;
	background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
}

.christiepearson-advice body {
	padding: 10px;
	font-family: Andale Mono, monospace;
}

img {
    vertical-align: text-top;
	margin: 20px 150px 20px 150px;
}

.christiepearson-advice h1 {
	margin: 10px 100px 10px 100px;
	padding: 20px;
	font-size: 3em;
}

.christiepearson-advice h2 {
	margin: 10px 100px 10px 100px;
	color: purple;
	font-family: Florence, cursive;
}

.christiepearson-advice h3 {
	margin: 10px 100px 10px 100px;
	padding: 20px;
}

.christiepearson-advice p {
	margin: 10px 100px 10px 100px;
	border-radius: 10px;
	padding: 20px;
	font-size: 1.5em;
}

.christiepearson-advice a:hover {
	background-color: purple;
}

.christiepearson-advice a:link {
	color: green;
}

.christiepearson-advice a:visited {
	color: cyan;
}

.christiepearson-advice footer {
	padding: 0px;
}
/** End of ChristieP's Styles **/

/** Mary Katherine Styles **/
.marykatherine-advice {
	background-color: #172A3A;
	width: 40%;
	margin: 0 auto;
}

.marykatherine-advice header {
	text-align: center;
}

.marykatherine-advice h1, h2, h3, h4 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #09bc8a;
	margin: 50px 0;
}

.marykatherine-advice h1 {
	font-size: 39px;
}

.marykatherine-advice h2 {
	font-size: 24px;
}

.marykatherine-advice h3 {
	font-size: 19px;
}

.marykatherine-advice p {
	font-family: 'Open Sans', sans serif;
	font-size: 15px;
	line-height: 1.2em;
	color: #74B3CE;
	margin: 50px 0;
}

.marykatherine-advice #keep {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.marykatherine-advice .center {
	text-align: center;
}


/** END MARY KATHERINE STYLES **/


/** Katie's Styles **/

.katie-advice h4 {

	color: rgb(0,0,255);
	font-size: 28px;
	font-family: "Courier New", Courier, monospace;

}

.katie-advice h1 {
	background-color: #6495ed;
	font-size: 20px;
	font-family:"Lucida Console", Monaco, monospace;
	background-color: #6495ed;

}

.katie-advice p {
	background-color: #e0ffff;

	font-size: 18px;
	font-family:Times, serif

}




/** End of Katie's Styles **/

/** Chris Sentman styles **/

.chrissentman-advice h1 {
  font-size: 2em;
}

.chrissentman-advice h4 {
  font-size: 1.5em;
}

.chrissentman-advice {
  border: 3px solid white;
  background-color:#884444;
  color:#ffdddd;
  font-family: 'Oswald', sans-serif;
  margin: 20px;
  padding:20px 40px;
}

.chrissentman-advice h1 {
  color: #ffccdd;
  margin-top:30px;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:0px;
  font-size:28px;
  border-top:2px solid white;
  border-bottom:2px solid white;
}

.chrissentman-advice p {
  margin-bottom:40px;
  font-style:italic;
  font-family: 'Montserrat', sans-serif;
}

.chrissentman-advice a {
  color:#c99;
  text-transform: uppercase;
  text-decoration:none;
  font-size: 13px;
}

.chrissentman-advice header {
  text-align:center;
}

.chrissentman-advice div {
  margin:0 40px 40px 40px; padding:40px;
}

.chrissentman-advice footer {
  font-size: 12px;
}

/** END CHRIS SENTMAN'S STYLE **/


/**Jason Force's styling**/

.jasonforce-advice{
	font-family: helvetica;
	background: yellow;
	}

.jasonforce-advice h1{
	text-shadow: white 1px -1px 5px;
	color: white;
	text-align: center;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.70);
	}

.jasonforce-advice h2{
	text-shadow: white 1px -1px 5px;
	color: white;
	text-align: center;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.70);
	}

.jasonforce-advice h4{
	text-shadow: white 1px -1px 5px;
	color: white;
	border-radius: 15px 15px 0 0;
	background: rgba(0, 0, 0, 0.70);
	padding-left: 10px;
	margin-bottom: 2px;
	}

.advice-jasonforce p{
	color: white;
	border-radius: 0 0 15px 15px;
	background: rgba(0, 0, 0, 0.70);
	padding-left: 10px;
	margin-top: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	}

/**End Jason Force's styling**/

/**Whitney's style sheet**/

body.whitney-advice{
    background-color: white;
    width: 850px;
    margin-left: auto;
    margin-right: auto;

}

.whitney-div{
    font-family: arial, sans-serif;
    font-size: 11px;
    width: 650px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    padding: 10px;
}

.whitney-header{
    text-align: center;
    color: tomato;
    font-weight: lighter;
    font-family: helvetica, sans-serif;
}

.whitney-footer{
 	font-size: 11px;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    font-family: arial;

}


/**Dima's style sheet**/
.dima-advice {
	background-color: lightcoral;
	color: teal;
	text-decoration: none;
	font-family:'Open Sans', sans-serif;
}

.dima-advice a {
	font-size: 10px;
	text-decoration: none;
	color: teal;
	font-family:'Open Sans', sans-serif;
	}

.dima-advice p {
	font-size: 10px;
	}

.dima-advice h1 {
	font-size: 15.5px;
	}

.dima-advice .advice h4 {
	font-size: 22px;
	color: teal;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 20px 30px 70px;
	}

.dima-advice .advice p {
	font-size: 14px;
	text-align: justify;
	}

/**End Dima's Styles**/

/**Jessica O's style sheet**/

body.jessicao-advice  {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("http://farm3.static.flickr.com/2079/2351178797_495e41138c.jpg");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.jessicao-advice p {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size:15px;
	text-align: justify;
	margin-right: 20px;
	padding-bottom: 20px;
}

body.jessicao-advice h1 {
	color: white;
    font-family: "Megrim",cursive;
    font-size: 75px;
}


div.jessicao-advice h4 {
	color: white;
	font-family: "Megrim",cursive;
    font-size: 25px;
	padding-bottom: 10px;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 20px;
}


/**End Jessica O's Style Sheet**/

/**Emily Jo's style sheet**/

body.emilyjoringer-advice{
	font-family: Josefin Slab;
	font-size: 20px;
	background-image: url(https://s3.amazonaws.com/f.cl.ly/items/1P1p1S1v3P2u2q0K470o/IMG_2595.JPG);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: LightGrey;
	margin: 99px;
}

body.emilyjoringer-advice h2{
	text-align: center;
	font-weight: bold;
	padding: 40px;
}

body.emilyjoringer-advice p{
	padding-right: 20px;
	padding-left: 20px;
}

/**END Emily Jo's style sheet**//

/**Erin's style sheet**/
body.erinorr-advice{

  color: dime-grey ;
  font-family:'Crushed', cursive;
  font-size: 20px;
  font-weight: bold;
  background-image: url(http://i1368.photobucket.com/albums/ag180/erinnorr/mountains-nature-trees-path-fog-desktop-backgrounds_zps124e153d.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
 }
/**Erin's style sheet**/

/**Kristin Linde's Styles**/
body.kristinlinde-advice h1{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    text-align:center;
}

body.kristinlinde-advice header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

div.kristin-advice{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color:lightskyblue;
    border-radius: 10px;
}

div.kristin-advice p{
    font-family:'Open Sans', sans-serif;
    font-size: 12px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;

}

div.kristin-advice h4{
    font-family: 'Crushed', cursive;
    font-size: 14px;
    font-weight: bold;
}

body.kristinlinde-advice footer {
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 10px;
}

/**END Kristin Linde's Styles**/

/**Julia's Styles**/
.julia-advice {
	background-color: lightcoral;
	color: teal;
	text-decoration: none;
	font-family:'Open Sans', sans-serif;
}

#julia-box {
	width: 400px;
	height: 400px;
	margin: 50px auto auto auto;
	background-color: white;
	padding: 50px;
	border-radius: 8px;
}

.julia-advice a {
	font-size: 10px;
	text-decoration: none;
	color: teal;
	font-family:'Open Sans', sans-serif;
	}

.julia-advice p {
	font-size: 10px;
	}

.julia-advice h1 {
	font-size: 15.5px;
	}

.julia-advice .advice h4 {
	font-size: 22px;
	color: teal;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 20px 30px 70px;
	}

.julia-advice .advice p {
	font-size: 14px;
	text-align: justify;
	}

/**End Julia's Styles**/

/*Jen's styles*/
.jenbest-advice {
	background-color: #98ff98;
	border: 1px solid #4b8934;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
}

.jenbest-advice h1 {
	color: black;
	text-align: center;
	font-size: 200%;
}

.jenbest-advice h4 {
	color: black;
	font-size: 130%;
	text-align: left;
}

.jenbest-advice p {
	color: black;
	font-size: 105%;
	padding: 10px 100px 10px 100px;
}

.jenbest-advice a {
	color: #5f0c0c;
}

.jenbest-advice .one {
	border: 1px solid #4b8934;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.jenbest-advice .two {
	border: 1px solid #4b8934;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.jenbest-advice .three {
	border: 1px solid #4b8934;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.jenbest-advice .four {
	border: 1px solid #4b8934;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.jenbest-advice .five {
	border: 1px solid #4b8934;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.jenbest-advice .copyright {
	font-size: 80%;
	margin-top: 50px;
	text-align: center;
}

/*end Jen's styles*/

/**Kim's Styles**/

.kim-advice h1 {
	font-family:'Arial', sans-serif;
	font-size: 16px;
	font-weight: bold;
	}

.kim-advice .advice h4 {
	font-family: 'Helvetica';
	font-size: 14px;
	font-weight: bold;
	}

.kim-advice .advice p {
	font-family: 'Arial';
	font-size: 10px;
	}
/**End Kim's Styles**/

/** Sarah Bagley's styles **/

.sarahbagley-advice h1 {
	font-family: 'Crushed', cursive;
	color: Teal;
	text-align: center;
	font-size: 60px;
}

.sarahbagley-advice .sarahbagleymore-advice h4 {
	font-family: 'Crushed', cursive;
	color: Teal;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}

.sarahbagley-advice .sarahbagleymore-advice p {
	font-family: 'Muli', sans-serif;
	text-align: center;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
	line-height: 30px;
}

.sarahbagley-advice a {
	font-family: 'Muli', sans-serif;
	color: Teal;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

.sarahbagley-advice p {
	font-family: 'Muli', sans-serif;
	color: Gray;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	padding-bottom: 40px;
}

/** End of Sarah Bagley's styles **/

/** Kenise's styles **/
.kenise-advice .advice h1 {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
	margin-left: 40px;
	margin-top:20px;
	margin-bottom:15px;
}

.kenise-advice .advice p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.kenise-advice .advice h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(216, 35, 42);
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}
.kenise-advice .advice ul {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	}

.kenise-advice .advice li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.kenise-advice .advice a {
	text-decoration: none;
}

.kenise-advice .advice footer {
	text-align: center;
}
/**End Kenise's Style**/

.kennedy-advice{
	color: lightblue;
	font-size: 18px;
	text-align: center;
	background-size: cover;
	background-position: center;
	color: blue;
	font-family: helvetica;
	background: orange;
}

/**Keri's Advice Style**/
.keri-stoller-advice {
	font-family: Georgia, sans-serif;
	margin: 50px;
	background-color: #B2AFB3;
}

.keri-stoller-advice .main-page {
	text-decoration: none;
	font-style: italic;
	color: purple;
}

.keri-stoller-advice h1 {
	font-size: 3em;
	text-align: center;
}

.keri-stoller-advice .advice {
	margin: 10px auto;
}

.keri-stoller-advice h4 {
	text-align: left;
	font-size: 1.5em;
	font-weight: bolder;
	text-decoration: underline;
	color: #C3E30B;
	margin: 0px;
	padding: 0px;
}

.keri-stoller-advice p {
	font-family: sans-serif;

}

.keri-stoller-advice footer {
	text-align: right;
	font-style: italic;
	font-size: .75em;
	font-weight: lighter;
	color: purple;
}
/**End of Keri's Advice Style**/


/** Yo it's Randle **/
.randle-advice body {
	padding: 50px;
	font-family: helvetica;
}

.randle-advice h1, .randle-advice h4 {
	margin: 10px 100px 10px 100px;
	color: salmon;
}

.randle-advice h1 {
	padding: 20px;
	font-size: 3em;
}

.randle-advice h4 {
	padding: 10px;
	font-size: 2em;
}

.randle-advice p {
	margin: 10px 150px 10px 150px;
	border-radius: 20px;
	background-color: salmon;
	color: white;
	padding: 25px;
	font-size: 1.5em;
}

.margaret-advice body {
	padding: 20px;
	}

.margaret-advice h1 {
	padding: 10px;
	font-size: 40px;
	color: royalblue;
	font-family: courier;
	text-align: Center;
	}

.margaret-advice h4 {
	font-size: 30px;
	color: darkpink;
	font-family: courier;
	text-align: center;
	}

.margaret-advice p {
	font-size: 20px;
	padding: 10px;
	font-family: courier;
	margin-left: 20px;
	}

/** Skillcrush styles **/
.skillcrush-advice .advice h4 {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}

.lyndileighwk-advice h1{
	color: DarkSlateGray;
}
.lyndileighwk-advice .advice h4 {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}
.lyndileighwk-advice #wrap{
	width: 600px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}
.lyndileighwk-advice p{
	font-weight: lighter;
	color: DimGray
}

.deblevy-advice .advice h1 {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
	margin-left: 40px;
	margin-top:20px;
	margin-bottom:15px;
}

.deblevy-advice .advice p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left:40px;
	margin-top:15px;
	margin-bottom:15px;
}

.deblevy-advice .advice h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(216, 35, 42);
	margin-left: 40px;
	margin-top:20px;
	margin-bottom:15px;
}

.deblevy-advice .advice ol {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left:30px;
	margin-top:15px;
	margin-bottom:15px;
	}

.deblevy-advice .advice li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left:40px;
	margin-top:15px;
	margin-bottom:15px;
}

/**CSS styles for kimsanders advice page **/
.kimsanders-advice-main {
	background-image: url(http://mrg.bz/KVxRhK);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	font-family:"Verdana";
}

.kimsanders-advice {
  background:#7f7f7f;
  background:rgba(255,255,255,0.7);
  padding: 0px 25px;
}

.kimsanders-advice h1 {
	font-style: italic;
	font-size: 35px;
	color: #000066;
	text-align: center;
}

.kimsanders-advice h4 {
	font-size: 25px;
	color: #000065;
}

.kimsanders-advice p {
	font-size: 18px;
	color: #000065;
}
/**End styles for kimsanders **/

/** Steve's styles **/
.steveb-advice .advice h2 {
	font-family: sans-serif;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}
.steveb-advice h1 {
	font-family: sans-serif;
}
.steveb-advice p {
	font-family: sans-serif;
}
.steveb-advice a {
	font-family: sans-serif;
}

.rosskinney-advice  h1  {
	background-color: orange;
	border-bottom: 11px solid blue;
	padding-bottom: 5px;

}

.rosskinney-advice  {
	background-color: orange

}

.rosskinney-advice .ross-footer  {
	background-color: blue

}

.rosskinney-advice a:link {text-decoration:none;}

/**amira keepin' it simple**/
.amira-advice .advice h4{
    background-color: #8cd9b8;
    color: #aba3e0;
    font-size: 30px;
}

div.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    color: #2F3632;
    box-shadow: .1em .1em .5em #2F3632;
    padding: 2em;
    width:  60%;
    margin-left: auto;
    margin-right: auto;
}

h1.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    color: #2F3632;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    color: #2F3632;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
}

h4.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.6em;
    color: #2F3632;
}

p.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 200;
    font-size: 1.24em;
    line-height: 1.3em;
    text-align: justify
}

p.sarahgreercopy-advice {
    color: #2F3632;
    font-family: 'Julius Sans One', sans-serif;
    font-size: .8em;
}

/** Emily Chen styles **/
.emilychen-advice {
	font-family: Montserrat;
	max-width: 960px;
	margin: auto auto;
	background-color: #FAFFE5
}

.emilychen-advice h1 {
	font-size: 2em;
}

.emilychen-advice h4 {
	font-size: 1.4em;
}

/*Cristy Koebler styles */
.cristykoebler-advice header h1{
	text-align: center;
	font-family: serif;
  	color: Crimson;
}

.cristykoebler-advice .advice h4 {
	font-family: Arial, Helvetica, sans-serif;
}

.cristykoebler-advice footer {
	text-align: center;
}

/** Hi all, this is Jessica's advice style**/
.jmg-advice   {
color: #008599;
background-color: navajowhite;
text-align: center;
width: 550px;
margin-left: 35px;
padding-left: 25px;
padding-right: 25px;
border: 14px mediumvioletred solid;
}

.jess-advice {
background: cornsilk;
border: 30px solid mediumvioletred;
padding: 5px;

}

.jess-header {
color: mediumblue;
}

.evebee-advice {
background-color: lightgreen;
color: darkgreen;
font-weight: bold;
}

#amycphoto {
    height: 300px;
    border-radius: 50%;
    margin-left: 300px;
}
.amych1 {
    font-family: serif;
    color: gray;
    text-align: center;
}
.amycp {
    color: gray;
    text-align: center;
}
.amych4 {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}
#amycwrapper {
    width: 900px;
    background-color: pink;
    margin: 0px auto;
}

/**Alex's Advice Style**/

.alex-advice {
	background-color: lightgreen;
}

.alex-advice h1 {
	background-color: white;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	border: solid green 4px;
	padding: 20px;
}

.alex-advice .advice h4 {
	color: #003300;
	text-decoration: condensed;
	font-size: 150%;
	font-weight: normal;
}

.advice-item {
	background-color:white;
	border: solid 2px green;
	padding: 5px;
	border-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/**End of Alex's Advice Style**/

/*This is Melissa's contribution*/
.melissay-advice .advice h4 {
	font-size: 50px;
}

.melissay-advice .advice p {
	background-color: indigo;
	color: white;
	margin: 10px 200px;
	font-size: 25px;
	border-radius: 5px;
}

.melissay-advice footer {
	margin: 10px auto;
	text-align: center;
}
/*End of Melissa's contribution*/

/*Michelle B's contribution*/
.michelleb-advice{
background-color: white;
color: silver;
font-size: 20px;
font-family: arial;
text-align: left;
margin: 20px;
width: 700px;
text-decoration: none;
}
.michelle-advice{
color: lightblue;
font-size: 22px;
}
/*End of Michelle B's contribution*/

/**** Chrissyg's advice styles start here ****/
.chrissyg-advice {
	border: 1px solid white;
	background-color:#3cc;
	color:#036;
	font-family: 'Montserrat', sans-serif;
	margin: 20px;
	padding:20px 40px;
}

.chrissyg-advice h1 {
	color: white;
	text-transform: uppercase;
	margin-top:30px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:0px;
	font-size:26px;
	border-top:1px solid white;
	border-bottom:1px solid white;
}

.chrissyg-advice h2 {
	font-size:21px;
	margin-top:0px;
	padding-top:0px;
}

.chrissyg-advice p {
	margin-bottom:40px;
	font-style:italic;
}

.chrissyg-advice a {
	color:#036;
	text-transform: uppercase;
	text-decoration:none;
	font-size: 13px;
}

.chrissyg-advice header {
	text-align:center;
}

.chrissyg-advice div {
	margin:0 40px 40px 40px; padding:40px;
}

.chrissyg-advice footer {
	font-size: 12px;
}
/**** End of Chrissyg's advice styles ****/

/**Kelly Murray's Styles**/

.kellymurray-advice {
  background: GhostWhite;}

#kellym-text {
height:500px;
width:480px;
margin:10px 20px 0;
border-radius:0 5px 5px 0;}

.kellymurray-advice h1 {
  font-family: 'Montserrat', sans-serif;
  color: IndianRed;}

.kellymurray-advice h3 {
  font-family: 'Montserrat', sans-serif;
  color: IndianRed;
  padding: 0px;
  margin: 10px;}

.kellymurray-advice p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-align: justify;
  margin-left:20px;
  margin-top:0px;
  margin-right:15px;
  line-height: 120%;
  padding: 0px;
}

.kellymurray-advice a {
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  color: IndianRed;
}

.kellymurray-advice a:hover {
  color: LightSalmon;
}

/**** End of Kelly Murray's styles ****/

/** Kristi's Styles **/

.kristi-advice body {
	padding: 50px;
	font-family: arial;
}

.kristi-advice h1, .kristi-advice h4 {
	margin: 10px 100px 10px 100px;
	color: cyan;
}

.kristi-advice h1 {
	padding: 20px;
	font-size: 3em;
}

.kristi-advice h4 {
	padding: 10px;
	font-size: 2em;
}

.kristi-advice p {
	margin: 10px 150px 10px 150px;
	border-radius: 20px;
	background-color: indigo;
	color: white;
	padding: 25px;
	font-size: 1.5em;
}
/** End of Kristi's Styles **/

/**** Andy LJ's advice styles ****/
.andylj-advice {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
}

.andylj-advice h1{
	border-bottom: 2px solid DarkSlateGray;
	padding: 10px;
}

.andylj-advice h4{
	margin: 20px 20px 20px 0;
	font-size: 120%;
	color: CornflowerBlue;
}

/**** End of Andy LJ's advice styles ****/

/**** TIARA IS STYLISH maybe ****/

.tiara-advice-ahoy {
	border: 1px solid #B62084;
	background-color:#CD96CD;
	color:#B62084;
	font-family: 'Calibri', sans-serif;
	margin: 15px;
	padding:15px 15px;
}

.tiara-advice-ahoy h1 {
	color: #B62084;
	text-transform: capitalize;
	margin-top:15px;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:15px;
	font-size:35px;
	border-top:1px solid #B62084;
	border-bottom:1px solid #B62084;
}

.tiara-advice-ahoy h2 {
	font-size:25px;
	margin-top:0px;
	padding-top:0px;
}

.tiara-advice-ahoy h3 {
	font-size:20px;
	margin-top:0px;
	padding-top:0px;
}

.tiara-advice-ahoy p {
	margin-bottom:15px;
}

.tiara-advice-ahoy div {
	margin:0 15px 15px 15px; padding:15px;
}

.tiara-advice-ahoy footer {
	font-size: 15px;
}

/**** AND END SCENE ****/

.danielle-advice body{
    background-color: #f3c5a3;
    color: #00698f;
    font-family: arial;
    font-size: 12px;
}
.danielle-advice div {
    background-color: #e7e2af;
    border: 1px dashed #00698f;
}
.danielle-advice h4 {
    font-family: georgia;
    font-size: 22px;
    text-align:center;
}

/** davida's style **/

.davida-advice {
	border: 1px solid #737CA1;
	border-radius: 20px;
	background-color: #F0F8FF;
	color: #737CA1;
	margin: 20px;
	padding:20px 40px;
}

.davida-advice h1, .davida-advice h4 {
	margin: 10px 100px 10px 100px;
	color: #737CA1;
	font-family: Arial Narrow;
}

.davida-advice h1 {
	padding: 20px;
	font-size: 2em;
}

.davida-advice h4 {
	padding: 10px;
	font-size: 1.5em;
}

.davida-advice p {
	margin: 10px 150px 10px 150px;
	border-radius: 20px;
	background-color: white;
	color: #737CA1;
	padding: 25px;
	font-size: 1em;
}

/** end of davida's style **/
 .nelson-advice p{
     color: blue;
     border-color: yellow;
     font-style: italic;
}

.nelson-advice h4{
    color: black;
}

/** Eve's style **/
.evefrohm-advice body {
	font-family: georgia;
	font-color: tomato;
	height: 100%;
  	width: 100%;
  	background-color:gainsboro;
  	background-position: center;
  	background-attachment: fixed;
 	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}

.evefrohm-advice p{
	font-size: 12px;
  	color: dimgrey;
}
/** End of Eve's style **/

/** Amanda's style **/
.amandalglittle-advice {
	background-color: #CAE4EB;
	color: #52094E;
	padding: 20px;
}

.amandalglittle-advice h1 {
	padding: 25px;
	margin-left: 50px;
	color:#247B93;
	font-family: 'Crushed', cursive;
	font-size:36px;
	border-bottom: 1px solid #247B93;
}

.amandalglittle-advice h4 {
	margin-left: 50px;
	margin-right: 50px;
	color:#247B93;
	font-family: 'Crushed', cursive;
	font-size:24px;
	padding:5px;
}

.amandalglittle-advice ul{
	font-family:'Crushed', cursive;
	color: white;
	line-height: 30px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 18px;
}

.amandalglittle-advice p {
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 10px;
	background-color: #4B8797;
	font-family: 'Crushed', cursive;;
	color: white;
	line-height: 30px;
	padding: 30px;
	font-size: 18px;
}
/** end of Amanda's style **/

/** Yami's Styles**/

.yami-advice body {
   font-family: "Arial";
    color: purple;
    background-color: white;
}

.yami-advice h4 {
   font-family: "Helvetica";
    color: black;
    background-color: lightgray;
    margin-left: 100px;
}

/** end of Yami's styles**/

/**Nichole's Styles**/
.nicholespeciale-advice body{
	padding: 20px;
	border: 3px solid rgb(40, 239, 190);
	background-color: rgb(68, 176, 149);
	color: rgb(40, 239, 190);
	font-family: 'Courier New';
}

.nicholespeciale-advice h4{
	font-size: 35px;
}

.nicholespeciale-advice p{
	font-size: 18px;
}
/**End of Nichole Styles**/

.lynn-advice h4 {
    font-family: Arial;
    color: pink;
    background: blue;
}

.lynn-advice p {
    font-family: Arial;
    color: pink;
    background: blue;
}
/** end of Amanda's style **/

/** Chloe's Added Styles **/
.chloequinn-advice .container {
  	background-color: DimGray;
  	border-radius: 8px;
  	padding-top: 10px;

  }

 .chloequinn-advice p, h1, h4 {
 	text-align: center;
 }

 .chloequinn-advice h1, h4{
 	font-family: 'Oxygen', sans-serif;

 }
.chloequinn-advice h1 {
	font-size: 2em;
	color: Orange;
}

 .chloequinn-advice h4 {
 	color: Tomato;
 	font-size: 1.4em;
 }

 .chloequinn-advice h4 span {
 	color: orange;
 	font-size: 1.5em;
 }

 .chloequinn-advice p {
	font-family: 'Open Sans', sans-serif;
	color: White;
	font-size: 1.2em;
	line-height: 25px;
	padding-left: 5%;
	padding-right: 5%;
}

.chloequinn-advice p span {
	color: Tomato;
}
.chloequinn-advice a
{
	padding-left: 10px;
	color: white;
}

/** End of Chloe's Styles **/

/** Vicki's styles **/
.vickigreer-advice {
	color: darkblue;
	background-color: gold;
	font-family: Arial, sans-serif;
}
/** end of Vicki's styles **/

/* Justin's Styles */

.justinsmith-advice {
	background-color: #99badd;
	color: ivory;
	font-family: helvetica, sans-serif ;
	line-height: 15px;
}

.justinsmith-advice h1 {
	width: 600px;
	margin: 40px auto;
	line-height: 25px;
}

.justinsmith-advice div {
	width: 600px;
	margin: 25px auto;
}

.justinsmith-advice footer {
	text-align: center;
}


/** Nicoal's Styles **/

.nicoalprice-advice body {
    color: rebeccapurple;
    background-color: aquamarine;
    font-family: fantasy;
}
/** End of Nicoal's Styles **/


/** Nessa's styles **/

.nessa-advice {
    background-color: #FFD1E0;
    color: #009999;
}

.nessa-advice p {
    font-size: 20px;
}

.nessa-advice h4 {
    font-size: 26px;
}

.nessa-advice h1 {
    font-size: 30px;
}

/** end of Nessa's styles **/
.anthonylucio-advice{

  color: dime-grey ;
  font-family:'Crushed', cursive;
  font-size: 20px;
  font-weight: bold;
  background-image: url(http://s1022.photobucket.com/user/iveliq100/media/iveliq100003/26777/grg/11044580_861423557252741_7929461109415917968_n_zpstqrpde5r.jpg.html][IMG]http://i1022.photobucket.com/albums/af341/iveliq100/iveliq100003/26777/grg/11044580_861423557252741_7929461109415917968_n_zpstqrpde5r.jpg;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
 }
 /** end of Anthony's style **/
.fureigh-advice {
  font-family: 'Source Sans Pro';
  padding: 5% 30% 0 10%;
  line-height: 1.4;
}

.fureigh-advice p {
  color: #555;
}

.fureigh-advice header a {
  color: #000;
}

.fureigh-advice footer a {
  color: #000;
}

/** Anne's styles **/

.anne-advice h1 {
  font-family: 'Aerial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.anne-advice h4 {
  font-family: 'Aerial', sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.anne-advice p {
  font-family: 'Aerial', sans-serif;
  font-size: 14px;
}


/* Sue's Styles */
.sued-advice {
	width: 800px;
	background-color: #EE1289;
	font-family: helvetica, sans-serif;
	font-size: 100%;
}

.sued-advice h1, h4 {
	color: #FFA500;
}

.sued-advice h1 {
	font-size: 125%;
	margin-top:50px;
	margin-bottom:0;
}

.sued-advice h4 {
	font-size:115%;
	margin-bottom:0;
}

.sued-advice footer {
	font-size:70%;
	margin-top:25px;
}

/**Elizabeth's Styles**/
.elizabethrussell-advice h4 {
    text-align: left;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: underline;
    color: coral;
    margin: 0px;
    padding: 0px;
}

.elizabethrussell-advice p {
    font-family: sans-serif;

}

/** Brian's Styles **/
.briann-advice h1 {
	font-size: 66px;
	margin-top: 25px;
	margin-bottom: 15px;
	color: blue;
}

.briann-advice h4 {
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: midnightgrey;
}

.briann-advice p {
	font-size: 25px;
}

/** Michelle B's Styles**/
.michelles-advice body{
	font-family: Quicksand, sans-serif, EB Garamond, serif;
	margin: 10px 100px 10px 100px;
	padding: 20px;
	font-size: 22px;
}

/* Adnan Q's Stlyes */
.adnanq-advice {
	font-family: helvetica, arial, sans-serif;
	background: rgb(211,211,211);
	color: rgb(119,136,153);
}

.adnanq-advice header {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

.adnanq-advice section {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

.adnanq-advice footer {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

.adnanq-advice h4 {
	color: rgb(128,128,128);
	margin: 1em;
}

.adnanq-advice section div p {
	background: white;
	padding: 1em;
	border-radius: 5px;
}



/**Alice's styles **/
body.alice-advice {
    font-family: 'Raleway', sans-serif;
    background: white;
    padding: 10px;
    text-align: left;
    font-size: 1em;
}

p.alice-advice {
font-family: 'Raleway', sans-serif;
color: black;
}

h4.alice-advice {
    text-decoration: underline;
    font-size:1.5em;
    font-variant: small-caps;
    text-align: center;
    color: tomato;
    padding: 20px;
}

div.alice-advice {
border: 2px dashed orange;
margin: 10px;
padding: 10px;
color: grey;
}
/**end of Alice's styles **/

/*Sami's Pink Text */

.samim-advice {
	background-color: #000000;
}
.samim-advice p {
	color: #FF00FF;
	font-family: sans-serif;
	font-size: 18px;
	}
	
.samim-advice h1 {
	color: #FF00FF;
	font-family: sans-serif;
	font-size: 36px;
}

/** Lauren R's Styles **/
body.laurenr-advice {
	background-color: #33FFF8;
	color: #A354D1;
	font-family: trebuchet MS, sans-serif;
}

.laurenr-advice h1 {
	border: 5px dotted;
	border-color: #FF47F3;
	text-align: center;
	background-color: #33FFF8;
	color: #A354D1;
	font-family: trebuchet MS, sans-serif;
}

.laurenr-advice h4 {
	border: 5px dotted;
	border-color: #FF47F3;
	text-align: center;
	background-color: #33FFF8;
	color: #A354D1;
	font-family: trebuchet MS, sans-serif;
}
/** Lauren R's Styles **/






