/*** Shanna's styles ***/
.shannawalsh-advice header h1{
	color: #483D8B;
	font-family: 'Ubuntu', sans-serif;
}
.shannawalsh-advice header p, .shannawalsh-advice p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

/*** End Shanna's Styles ***/

