
 body {
	background: #f6f9c2;
}
.advice-terirogers h1 {
	font-family: lucida sans unicode, lucida grande, sans-serif;
	color: #c81f46;
	text-align: center;
	text-transform: uppercase;
	}


.advice-terirogers h4  {
	font-family: Helvetica, arial, sans-serif;
	text-align: center;
	color: #ef4974;
}

.advice-terirogers p,  {
	font-family: Arial, helvetica, sans-serif;
}
.advice-terirogers .advice {
	background: #f6f9c2;
	border: 10px dotted #c81f46;
	padding-left: 10px;
}
