/** Add a comment at the beginning of your CSS styles with your name**/

/**** Arlettas Advice ***/

.arlettas-advice h1,h2 {
	font-family: 'Homemade Apple', cursive;
	background-color: #B0E0E6;
	margin: 0px;
	text-align: center;
}

.advice p {
	text-align: center;
	background-color: #FEDCD2;
	margin: 20px;
	padding: 10px;
	font-family: 'Bellefair', serif;
	font-size: 20px;
}

img {
	text-align:center;
}

/**** End of Arlettas Advice ****/
