/****** Crystal Gonzales STYLE********/

body{
  width: 1200px;
}
 h1 {
  font-family: serif;
  

 }
span {
    font-family: 'Shadows into Light' cursive;
    color: #882071;
    font-variant: small-caps;
    font-size: 36px;
 }
 p{
   width: 1200 px;
   text-align: justify;
   font-size: 22px;
 }

 .advice h3{
   font-family: 'Amatic SC' cursive;
   color: #358050;
   font-size: 42px;
  
 }
 .go {

 }
 footer p{
   text-align: center;
 }