/****** Oliver's STYLE********/
.oliver-advice {
  font-family:  'Roboto', sans-serif;
  color: darkblue;
}

.oliver-advice h1 {
  background-color: grey;
  color: darkblue;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  padding: 50px 0;
}

.oliver-advice h4 {
  background-color: blanchedalmond;
  font-size: 28px;
  font-weight: bold;
  color: darkblue;
}

.oliver-advice-advice p {
  font-size: 25px;
  font-weight: lighter;
  text-align: justify;
  color: darkblue;
}
