

/**** NATALIE's ADVICE ****/
.indynat-advice {
	font-family: 'Open Sans', sans-serif;
}

.indynat-advice {
	background-color: #ffffff;
}

.indynat-advice header {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
}

.indynat-advice h1, h4 {
	color: red;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.indynat-advice h1 {
	letter-spacing:0px;
	font-size:36px;
}

.indynat-advice h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight:700;
	line-height:20px;
}

.indynat-advice p {
	font-size: 18px;
	font-weight:400;
	padding-right: 200px;
	padding-left: 200px;
	text-align: left;
}
.special-1 {
	font-style: italic;
	font-weight: 700;
	color: blue;
}

.indynat-advice footer {
	padding: 20px;
}