body {
	background-color: #FFEBCD;
}
h1{
  color:#371254;
  font-family: "Yellowtail", cursive;
  font-size: 18pt;
  clear:both;
}
h4{
  font-family: "Julius Sans One";
  font-size: 16pt;
  clear:both;
}
p, li {
  color: #0c0c5e;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14pt;
  clear:both;
}
.advice {
    width: 600px;
    margin: 0 auto;
	float: left;
}
footer{
	clear: both;
}