/***** Fraas ADVICE *****/

.advice-fraas {
  background-color: #ffd100;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  text-align: left;
  color: #456990;
}

.advice-fraas {
  color: #000000;
}
.advice-fraas a {
  color: #000000;
  font-size: 12px;
}

.advice-fraas p{
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: #e4002b;
}
.advice-fraas footer{
  height: 80px;
  background-color: #e4002b;
}
.advice-fraas footer p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 25px 0 20px 0;
  color: white;
}
