/** Add a comment at the beginning of your CSS styles with your name**/

/**** lanas advice****/

.lanaland-advice {
  background: #d8f7ff;
  padding: 10px;
}

.lanaland-advice h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #ff7a00;
  text-align: center;
  letter-spacing: 2px;
}

.lanaland-advice h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  color: #008fb2;
  text-align: center;
  letter-spacing: 2px;
}

.lanaland-advice .advice p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color:  #b25600;
  text-align: justify;
}

.lanaland-advice footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color:  #ff8819;
  text-align: center;
}

.lanaland-advice a{
    color: #008fb2;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 20px;
  }