/**** Arshia advice****/

.arshia-advice {
	background: #ffffff;
  width: 1100px;
  margin: 0 auto;
}



h1 {
  color: #cc0052;
  font-family: 'Lobster', serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #29293d;
  font-family: 'Rubik', serif;
  font-size: 28px;
  padding: 5px 0;
  text-align: center;
}

h2 span {
  font-size: 36px;
  text-transform: uppercase;
}


h3 {
  color: #29293d;
  font-family: 'Rubik', serif;
  font-size: 28px;
  padding: 5px 0;
}

h3 span {
  font-size: 32px;
  text-transform: uppercase;
}

p {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	color: 	#29293d;
}

ul {
  padding-left: 100px
  padding-right: 100px;
}

footer {
	font-family: 'Rubik', sans-serif;
	font-size: 8px;
	color: 	#94d8a6;
	text-align: center;
}

a {
  	color: #29293d;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
	}
