html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ccc;
}

.seancody-advice {
	
}

.seancody-advice header{

}

.seancody-advice a{
	float: left;
	width: 30%;
}

.seancody-advice h1{
	float: left;
	width: 60%;	
}