/************ BASE STYLES ************/
.sjbenenate-advice {
	background: #646464;
	color: #12FF27;
	font-family: Open Sans;
}

::selection {
	background: #323232;
}

/********  HEADER TITLE **********/
.sjbenenate-advice header {
	padding-left: 10px;
}

.sjbenenate-advice h1 {
	font-family: Comfortaa;
	font-size: 20px;
	border-bottom: 1px solid black;
}


.sjbenenate-advice #sjbenenate-advice-name {
	font-family: Spirax;
	font-size: 35px;
}

/********  BODY **********/
.sjbenenate-advice h4 {
	font-family: Comfortaa;
	font-size: 25px;
}

.sjbenenate-advice a {
	color: #12FFFA;
	text-decoration: none;
}

.sjbenenate-advice h5 {
	font-family: Comfortaa;
	font-size: 20px;
}

.sjbenenate-advice div {
	text-align: center;
	padding: 10px;

}

.sjbenenate-advice ul {
	list-style-type: none;
	padding-top: 0;
	margin-top: 0;
}

.sjbenenate-advice p {
	line-height: 25px;
}

.sjbenenate-advice #sjbenenate-advice-icon-box p {
	font-size: 30px;
}
