/** Add a comment at the beginning of your CSS styles with your name**/

/**** NRich advice****/
.nrich-advice {
			background: transparent linear-gradient(to bottom, #e3ecf4, #bed3e5, #87aece, #588ebc);
			max-width: 960px;
			width: 95%;
			text-align: left;
			margin: 20px auto;
			font-family: 'Nunito Sans', sans-serif;
			/*font-family: 'Nanum Gothic', sans-serif;*/
			color: #000033;
}

.nrich-advice h1 {
	/*font-family: 'Berkshire Swash', cursive;
	font-family: 'Courgette', cursive;*/
	font-family: 'Nanum Gothic', sans-serif;
	text-transform: none;
	text-align: center;
	letter-spacing: normal;
}

.nrich-section-header span {
	text-decoration: underline;
	color: #000033;
	}

.nrich-advice h3 {
	/*font-family: 'Berkshire Swash', cursive;
	font-family: 'Nanum Gothic', sans-serif;*/
	font-family: 'Courgette', cursive;
	text-align: center;
}

.nrich-advice h4 {
	/*font-family: 'Berkshire Swash', cursive;
	font-family: 'Courgette', cursive;*/
		font-family: 'Nanum Gothic', sans-serif;
		text-align: left;
}

.nrich-footer {
	font-size: 12px;
}
