/** Add a comment at the beginning of your CSS styles with your name**/
/***** Bryan Herbert's advice *****/

.hillaryrose-advice {
  background-color: #f0f0f5;

}

header {
  background-color: white;
  margin: 0;
  border-bottom: dotted 3px #ff80aa;

}

.hillaryrose-advice h1 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  line-height: 40px;
  padding-bottom: 50px;
  color: #ff80aa;
}

h1 span {
    color: black;
}



.hillaryrose-advice h4 {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  text-align: left;
  border-bottom: solid 2px black;


}

.hillaryrose-advice p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: left;

}

.hillaryrose-advice-italic {
  color: firebrick;
  font-style: italic;
}

.hillaryrose-advice-footer p {
  color: firebrick;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  padding-top: 75px;
  text-align: center;

}

footer {
  clear:both;
  font-size: 10px;
  color: grey;
  border-top: solid 1px;
  margin-top: 60px;
}
