html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #eee;
}

.seancody-advice {
	font-family: 'Roboto', sans-serif;
	background-color: #ccc;
}
