body {
  font-family: 'Abel', sans-serif;
  text-align: center;
  background: url(https://images.unsplash.com/photo-1500423079914-b65af272b8db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3a7b2103fff730a9758d955fc9f7f839&auto=format&fit=crop&w=1350&q=80);
}
a {
  color: #ccb3ff;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
h4 {
  font-family: 'Pacifico', script;
  font-size: 4em;
  color: rgba(255,255,255,0.8)
}
.important-text {
  color: #944dff;
}
footer {
  font-size: .75em;
}