/** Kelsey's CSS **/

header {
    background: ivory;
    font-family: 'Merriweather', serif;
    color: black;
}
body {
    background: slategrey;
    font-family: 'Encode Sans Condensed', serif;
    color: black;
    text-align: center;
}
h4 {
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 20px;
}
p {
    font-family: 'Encode Sans Condensed', serif;
    color: black;
    font-size: 14px;
    text-align: left;
    padding: 0px 100px 0px 100px;
}
.footer {
    text-align: center;
    background: ivory;
    font-family: 'Merriweather', serif;
}
.linetwo{
    text-align: center;
}
.linethree{
    text-align: right;
}