/**** ksi advice background ****/

.ksi-advice {
    background: #ffffe6;
    padding: 15px;
    margin: 40px;
}

.ksi-advice h1 {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 4px;
    font-size: 45px;
    color: #404040;
    padding-bottom: 30px;
    text-align: center;
}

.ksi-advice h4 {
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    font-variant: small-caps;
    color: #333333;
    text-align: center;
    letter-spacing: 3px;
    border: 2px solid #d9d9d9;
    border-radius: 50px 50px 50px 50px;
    padding: 10px;
    margin-right: 350px;
    margin-left: 350px;
    background-color: #ffd9b3;

}

.ksi-advice p {
    font-size: 16px;
    color:#262626;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    padding: 10px;
}

.ksi-advice footer p {
    font-size: 14px;
    padding-top: 60px;
}

