/** Add a comment at the beginning of your CSS styles with your name**/

/***Marcela's Advice***/

.advice-marcelu83 {
								background-color:#ffe6cc;
								margin:auto;
								width:800px;
								padding:5%;

}


.advice-marcelu83 img {
		width:800px;
		height:200px;
		border:5px solid hotpink;
		margin-left:0px;
}

.advice-marcelu83 h1 {font-family: 'Playfair Display', serif;
											font-size:30px;
											color:#00b3b3;
											font-weight:bold;
											text-transform:capitalize;

}


.advice-marcelu83 h4 {
											font-family: 'Playfair Display', serif;
											font-size:24px;
											color:#00b3b3;
											text-align:left;
}

.advice-marcelu83 p {
											font-family: 'Libre Baskerville', serif;
											font-size:18px;
											color: #805500;
											text-align:justify;
											line-height:20px;

}

.advice-marcelu83 footer {
													margin-top:75px;


}

.advice-marcelu83 footer p {text-align:center;
														font-variant:small caps;
														color:#00b3b3;

}
 /****End of Marcela styles***/
