
/*** Danny's advice styling ***/
.dannyhsieh-advice {
  font-family: Verdana;
}
.dannyhsieh-advice h1 {
  font-size: 15px;

}

.dannyhsieh-advice h4 {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

.dannyhsieh-advice p {
  font-size: 12px;
}

/*** End Danny's advice styling ***/
