/** Add a comment at the beginning of your CSS styles with your name**/

/** SuellenC Styles **/
.suellenc-advice {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(120 ,180,60,.3);
    padding: 30px;
    font-family: sans-serif;
}
.suellenc-advice a {
    color: #0066ff;
    font-weight: bold;
    font-size: .8em;
}
.suellenc-advice h1 {
    color: #00008B;
    font-weight: bold;
    text-align: left;
}
.suellenc-advice h4 {
    font-family: sans-serif;
    font-size: 26px;
    text-align: left;
    color: #ff6600;
}
.suellenc-advice p {
    color:#00008B;
    text-align: left;
}
.suellenc-advice footer {
    color: #00008B; 
    text-align: center;
    font-size: 13px;
    font-style: italic;
}
/** End SuellenC Styles **/
