/* Start Suresh's Styles */

.Suresh-advice h1 {
	font-size: 40px;
	font-family: sans-serif;
	color: #468f96;
	text-align: center;
}

.Suresh-advice h4 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0a4c1f;
	text-align: left;
}

.Suresh-advice p {
	font-size: 16px;
	font-family: Helvetica;
	text-align: left;
}

/* End Suresh's Styles */
