.tatianalab-advice {
    background-color: #FFFCCC;
    text-align: center;
}

.tatianalab-advice a {
    text-decoration: none;
    color: #AECC8F;
}

.tatianalab-advice h1 {
  color: #990000;
}
.tatianalab-advice h4 {
   color: #ff1a1a;
 }

.tatianalab-advice h1, h4 {
    font-family: 'Chelsea Market', cursive;
}

.tatianalab-advice p {
    font-family: 'Lato', sans-serif;
    color: #595959;
    padding-left: 5%;
	  padding-right: 5%;
}
