/***** Tatianna Piercy's advice *****/

.tatiannapiercy-advice {
  background-color:#e9967a;

}

.tatiannapiercy-advice h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 36px;
  line-height: 40px;
  margin: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-variant: small-caps;

}

.tatiannapiercy-advice h4 {
  font-family: 'Courier', sans-serif;
  font-size: 25px;
  text-align: center;
}

.tatiannapiercy-advice p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

}
