.tees-sage-advice {
	width: 100%;
	background-color: azure;
}

a {
	text-decoration: none;
	color: teal;
	font-family: fantasy;
}

h1 {
	font-size: 3em;
	color: aquamarine;
	font-family: fantasy;
	text-transform: uppercase;
	text-align: center;
	padding: 0 10%;
}

h4 {
	font-size: 2em;
	font-family: 'Helvetica', sans-serif;
	color: aqua;
	text-align: center;
}


p {
	font-size: 1.5em;
	font-family: serif;
	color: darkblue;
	padding: 0 10%;
}