.thewes-advice {
	background-color: #ff33cc;
	}

body {
	color: white;
	}

h1 {
	font-family: 'Noticia Text', serif;
	text-align: center;
	
	}	

h4 {
	font-size: 22px;
	}
	
p {
	font-family: arial;
	font-size: 18px;
	padding-left: 25px; 
	}	
	