/***** Tiffany's advice styles *****/

h1{
  color: #CA55A4;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
}

.advice {
  background-color: #89CFF0;
  color: #fff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 18px;
  word-spacing: 2px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.advice h1, .advice h4 {
  text-transform: uppercase;
  font-weight: 380;
}

.advice h1 {
  font-size: 50px;
}

.advice h4 {
  color: #CA55A4;
  font-size: 25px;
  margin-bottom: 20px;
}
.advice p{
  color: #003B58;
}
