
body{
  background-color:#20B2AA;

}


header{
  font-family: 'Merriweather', serif;
  font-size: 18px;
  padding: 30px;
  color:#C0C0C0;
  text-align: center;

}
h3{
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

p{
  font-family: 'Merriweather', serif;
  font-size: 26px;
  color: #C0C0C0;
  margin: 15px;

}
h4{
  font-family: 'Merriweather', serif;
  font-size: 32px;
  color: #C0C0C0;
}
