/** Add a comment at the beginning of your CSS styles with your name**/

/**** Trista advice****/

.trista-advice {
  background-color: #8efff4;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  padding: 20px;
}

.trista-advice a{
  color: #59344F;
  font-size: 30px;
  font-family: 'Stylish', sans-serif;
  text-decoration: none;
	padding: 20px;
}

.trista-advice h1 {
  font-family: 'Dancing Script', cursive, sans-serif;
	font-size: 48px;
	color: #EFC3F5;
	text-align: center;
	letter-spacing: 2px;
}

.trista-advice h4 {
	font-family: 'Dancing Script', cursive, sans-serif;
	font-size: 48px;
	color: #59344F;
	text-align: center;
	letter-spacing: 2px;
}

.trista-advice .advice p {
  font-family: 'Stylish', sans-serif;
	font-size: 24px;
	color: 	black;
	text-align: justify;
}

.trista-advice footer {
	font-family: 'Dancing Script', cursive, sans-serif;
	font-size: 24px;
	color: 	#EFC3F5;
	text-align: center;
}
