.tylerkuhn-advice {
    background: lightblue;
    font-family: sans-serif;
}

.tylerkuhn-advice h1 {
    text-align: center;
    font-family: serif;
    color: grey;
}

.tylerkuhn-advice h4 {
    text-align: center;
    font-size: 15px
}

.tylerkuhn-advice p {
    color: grey;
    text-align: center;
}