/** Veronica Armstrong's Styles **/
.veronicaarmstrong-advice body {
	color: blue;
}
.veronicaarmstrong-advice h1 {
    color: blue;
}
.veronicaarmstrong-advice h4 {
    color: red;
}
/** End of Veronica Armstrong's Styles **/
