/* === Virginia's Styles === */

 a:link, a:visited, a:hover{
            text-decoration: none;
            color: black;
 }

 .virginiarobinson-advice {
    background-color: #f5f5f5;
 }

.virginiarobinson-advice h1{
            font-family: 'Slabo', serif;
            font-weight: 400;
            text-align: center;
            font-size: 3em;
        }

.virginiarobinson-advice h4{
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 1.2em;
            text-align: center;
            padding-bottom: .2em;
            border-bottom:  .05em solid black ;
            width: 30%;
            color: #0f9d58;
            margin-left: 35%;
}

.virginiarobinson-advice .advice p{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 1.02em;
            margin: .8em 3.5em .8em 3.5em;
}

.virginiarobinson-advice footer {
            font-family: 'Slabo', serif;
            font-weight: 300;
            text-align: center;
            font-size: .9em;
            margin: 2em;
}

.virginiarobinson-advice header {
            padding: 1.5em 0 0 0;
}

.virginiarobinson-advice header a{
            font-family: 'Slabo', serif;
            font-weight: 300;
            font-size: .9em;
            margin: 3.5em;
            border: .05em solid black;
            padding: .5em;
}





