html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background-image: url('https://images.unsplash.com/photo-1515524738708-327f6b0037a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ff90e72db15176afc516fac82d04f14f&auto=format&fit=crop&w=1950&q=80');
	display: flex;
	justify-content: center;
	align-items: center;
}


body {
	background-color: #fff;
	width: 30%;
	padding: 5%;
	opacity: .95;
}
	

h1, h4 {
	font-family: 'Black Han Sans', sans-serif;
}

h1 {
	font-size: 2em;
	color: #ff3399;
	padding-top: 10px;s
}

h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ff6633;
	padding-top: 20px;
}

footer {
	padding: 20px 0;
	font-size: .5em;
	
}

.btn, button {
	background-color: #33cccc;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .7em;
    font-weight: bold;
}

button:hover { 
    background-color: #6666cc;
    text-decoration: underline;
}