.webguypro-advice {
    background-color: #bbc085;
    padding: 0 40px;
    font-family: 'Lora', serif;
}

.webguypro-advice h1 {
      text-align: center;
      font-size: 36px;
      font-weight: 700;
}

.webguypro-advice header {
      height: 150px;

}
.webguypro-advice h4 {
  font-size: 26px;
  font-weight: normal;
}
