.zachbrenner-advice {
background-color:seashell;
}
.zachbrenner-advice section{
color:white;
font-size:28px;
}
.adivce-zachbrenner-advice section p{
color:blue;
font-size:20px;
}
.zachbrenner-advice h1{
color:red;
}
