/** Add a comment at the beginning of your CSS styles with your name**/

/**** Zach B advice****/

.zachbrenner-advice {
	background: #f3eabf;
	padding: 10px;
}

.zachbrenner-advice h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	color: #645e8e;
	text-align: center;
	letter-spacing: 2px;
}

.zachbrenner-advice h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #94d8a6;
	text-align: center;
	letter-spacing: 2px;
}

.zachbrenner-advice .advice p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: 	#645e8e;
	text-align: justify;
}

.zachbrenner-advice footer {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: 	#94d8a6;
	text-align: center;
}

.zachbrenner-advice a{
  	color: #5680e9;
    font-family: 'Raleway', sans-serif;
  	text-decoration: none;
		padding: 20px;
	}
