/**Erin's style sheet**/

.erinorr_advice body{
body{
  background-attachment: fixed;
 background-image:url('http://s1368.photobucket.com/user/erinnorr/media/IMG_1462_zps20a4a7da.jpg');    
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


h1.erinorr_advice {
	font-family: 'Crushed', cursive;
	color: black;
	text-align: center;
	font-size: 60px;
}

h4.erinorr_advice {
	font-family: 'Crushed', cursive;
	color: black;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}

p.erinorr_advice {
	font-family: 'Muli', sans-serif;
	text-align: center;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
	line-height: 30px;
}
