/*kp styles */
.kp-advice {
	background: #cccccc;
	background-image: url("../20160603_082308.png");
	background-size:cover;
	background-repeat: no-repeat;
	font-size: 24px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  background-color: #efefef;
  text-align: center;
}

h4 {
	
	color: #421396;
	
}

header {
	text-align: center;
}

div {
	height: auto;
	width: auto;
	margin: auto;
    border: 3px solid black;
    padding: 10px;
	color: red;
	background-color: #e8e3f8;
	opacity: 0.6;
	text-align: center;
	font-weight: bold;
	
}

span {
	font-size: 14px;
}