/** Add a comment at the beginning of your CSS styles with your name **/
/** Yo it's Randle **/

.randle-advice body {
	padding: 50px;
	font-family: helvetica;
}

.randle-advice h1, h4 {
	margin: 10px 100px 10px 100px;
	color: salmon;
}

.randle-advice h1 {
	padding: 20px;
	font-size: 3em;
}

.randle-advice h4 {
	padding: 10px;
	font-size: 2em;
}

.randle-advice p {
	margin: 10px 150px 10px 150px;
	border-radius: 20px;
	background-color: salmon;
	color: white;
	padding: 25px;
	font-size: 1.5em;
}


/** Skillcrush styles **/
.skillcrush-advice .advice h4 {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}

.lyndileighwk-advice h1{
	color: DarkSlateGray;
}
.lyndileighwk-advice .advice h4 {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}
.lyndileighwk-advice #wrap{
	width: 600px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}
.lyndileighwk-advice p{
	font-weight: lighter;
	color: DimGray
}

.deblevy-advice .advice h1 {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
	margin-left: 40px;
	margin-top:20px;
	margin-bottom:15px;
}

.deblevy-advice .advice p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left:40px;
	margin-top:15px;
	margin-bottom:15px;
}

.deblevy-advice .advice h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(216, 35, 42);
	margin-left: 40px;
	margin-top:20px;
	margin-bottom:15px;
}

.deblevy-advice .advice ol {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left:30px;
	margin-top:15px;
	margin-bottom:15px;
	}

.deblevy-advice .advice li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 600px;
	margin-left:40px;
	margin-top:15px;
	margin-bottom:15px;
}

/**CSS styles for kimsanders advice page **/
.kimsanders-advice-main {
	background-image: url(http://mrg.bz/KVxRhK);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	font-family:"Verdana";
}

.kimsanders-advice {
  background:#7f7f7f;
  background:rgba(255,255,255,0.7);
  padding: 0px 25px;
}

.kimsanders-advice h1 {
	font-style: italic;
	font-size: 35px;
	color: #000066;
	text-align: center;
}

.kimsanders-advice h4 {
	font-size: 25px;
	color: #000065;
}

.kimsanders-advice p {
	font-size: 18px;
	color: #000065;
}
/**End styles for kimsanders **/

/** Steve's styles **/
.steveb-advice .advice h2 {
	font-family: sans-serif;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}
.steveb-advice h1 {
	font-family: sans-serif;
}
.steveb-advice p {
	font-family: sans-serif;
}
.steveb-advice a {
	font-family: sans-serif;
}

.rosskinney-advice  h1  {
	background-color: orange;
	border-bottom: 11px solid blue;
	padding-bottom: 5px;

}

.rosskinney-advice  {
	background-color: orange
	
}

.rosskinney-advice .ross-footer  {
	background-color: blue
	
}

.rosskinney-advice a:link {text-decoration:none;}

/**amira keepin' it simple**/
.amira-advice .advice h4{
    background-color: #8cd9b8;
    color: #aba3e0;
    font-size: 30px;
}

div.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    color: #2F3632;
    box-shadow: .1em .1em .5em #2F3632;
    padding: 2em;
    width:  60%;
    margin-left: auto;
    margin-right: auto;
}

h1.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    color: #2F3632;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    color: #2F3632;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
}

h4.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.6em;
    color: #2F3632;
}

p.sarahgreer-advice {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 200;
    font-size: 1.24em;
    line-height: 1.3em;
    text-align: justify
}

p.sarahgreercopy-advice {
    color: #2F3632;
    font-family: 'Julius Sans One', sans-serif;
    font-size: .8em;
}

/** Emily Chen styles **/
.emilychen-advice {
	font-family: Montserrat;
	max-width: 960px;
	margin: auto auto;
	background-color: #FAFFE5
}

.emilychen-advice h1 {
	font-size: 2em;
}

.emilychen-advice h4 {
	font-size: 1.4em;
}

/*Cristy Koebler styles */
.cristykoebler-advice header h1{
	text-align: center;
	font-family: serif;
  	color: Crimson;
}

.cristykoebler-advice .advice h4 {
	font-family: Arial, Helvetica, sans-serif;
}

.cristykoebler-advice footer {
	text-align: center;
}

/** Hi all, this is Jessica's advice style**/
.jmg-advice   {
color: #008599;
background-color: navajowhite;
text-align: center;
width: 550px;
margin-left: 35px;
padding-left: 25px;
padding-right: 25px;
border: 14px mediumvioletred solid;
}

.jess-advice {
background: cornsilk;
border: 30px solid mediumvioletred;
padding: 5px;

}

.jess-header {
color: mediumblue;
}

.evebee-advice {
background-color: lightgreen;
color: darkgreen;
font-weight: bold;
}