/** Add a comment at the beginning of your CSS styles with your name **/

/** Skillcrush styles **/
.Courtenay-advice header {
	padding-bottom: 3px;
	color: darkblue;
	background-color:rgb(256,256,256);
}

.Courtenay-advice section {
	border-style: solid;
	padding-bottom: 3px;
	color: darkblue;
	background-color:rgb(256,256,256);
}