/** Add a comment at the beginning of your CSS styles with your name **/



/** Skillcrush styles **/
.skillcrush-advice .advice h4 {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}

/** Kimberley Berends **/

.kberends-advice body {
  background: white;
}

.kberends-advice a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-family: sans-serif;
  padding: 10px;
  background: black;
    
}

.kberends-advice h1 {
  font-style: italic;
  font-size: 80px;
  margin: 0px;
  padding: 80px;
  background: #f8f8f8;
}


