/** Lauren R's Styles **/
body.laurenr-advice {
	background-color: #33FFF8;
	color: #A354D1;
	font-family: trebuchet MS, sans-serif;
}

.laurenr-advice h1 {
	border: 5px dotted;
	border-color: #FF47F3;
	text-align: center;
	background-color: #33FFF8;
	color: #A354D1;
	font-family: trebuchet MS, sans-serif;
}

.laurenr-advice h4 {
	border: 5px dotted;
	border-color: #FF47F3;
	text-align: center;
	background-color: #33FFF8;
	color: #A354D1;
	font-family: trebuchet MS, sans-serif;
}
/** Lauren R's Styles **/






